{% extends './master.html' %}
{% import './tags_macro.html' as tag %}

{%block page_title%}CSO Activity Management System{%-endblock%}

{%block meta%}
    {{- super() -}}
    <meta data-name="csrf" data-token="{{csrfToken}}" />
{%endblock%}

{%block style%}
    {{- tag.style('/plugins/images/cso.png', null, null, 'image/png', 'icon') -}}
    <!-- Bootstrap Core CSS -->
    {{tag.style('/bootstrap/dist/css/bootstrap.min.css')}}
    {{tag.style('/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css')}}
    <!-- Notifications -->
    {{- tag.style('/css/system/notification.css') -}}
{%endblock%}

{%block defer_script%}
    {{- super() -}}
    <!-- jQuery -->
    {{- tag.javascript('/plugins/bower_components/jquery/dist/jquery.min.js') -}}
    <!-- Bootstrap Core JavaScript -->
    {{- tag.javascript('/bootstrap/dist/js/tether.min.js') -}}
    {{- tag.javascript('/bootstrap/dist/js/bootstrap.min.js') -}}
    {{- tag.javascript('/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js') -}}
    <!-- CSRF for Jquery AJAX -->
    {{- tag.javascript('/js/system/AJAX_CSRF.js') -}}
    <!-- Notifications -->
    {{- tag.javascript('/js/system/notification.js', true) -}}
{%endblock%}

{%block body%}
    <!-- .preloader -->
    {%-block body_preloader-%}
        <div class="preloader">
            <div class="cssload-speeding-wheel"></div>
        </div>
    {%-endblock-%}
    <!--- ./preloader -->
    <div id="wrapper">
        <!-- Top Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbarHeader">
                <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="topLeft top-left-part">
                    <a class="logo" href="/home">
                        <b><img class="headerLogo" src="/plugins/images/cso.png" alt="home"></b>
                        <span class="hidden-xs" style="display: inline;">CSO SYSTEM</span>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="ti-menu"></i></a></li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right" >
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a id="dropdown_notification" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell text-white"></i>
                            <div class="notify">
                                <span id="display_numNotifications" class="label label-rounded label-danger pull-right"></span>
                                {# <span class="heartbit"></span>  #}
                                {# <span class="point"></span> #}
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-tasks scale-up scrollable-menu" role="menu" style="height: auto;
                            max-height: 250px;
                            overflow-x: hidden;">
                            <li>
                                <div id="display_notifications" class="message-center">
                                </div>
                            </li>

                            <!-- <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#"> <strong>See All Tasks</strong> <i class="fa fa-angle-right"></i> </a>
                            </li> -->
                        </ul>
                        <!-- /.dropdown-tasks -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"><b class="hidden-xs">{%if(extra_data.user.name)%}{{extra_data.user.name}}{%else%}Steave{%endif%}</b> </a>
                        <ul class="dropdown-menu dropdown-user scale-up">
                            {%for organization in extra_data.view.navbar.organizationDropdown%}
                                <li><a href="/System/ChangeOrganization/{{organization.id}}" class="text-success"><i class="ti-stamp text-success"></i>{{organization.acronym}}</a></li>
                            {%endfor%}

                            {#
                            <li><a href="#"><i class="ti-stamp"></i>MooMedia</a></li>
                            #}
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <li class="right-side-toggle"></li>
                    <!-- /.dropdown -->
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->

    	{%block sidebar%}
            <!-- %Left navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                            <!-- input-group -->
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"> 
                                        <i class="fa fa-search"></i> 
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        {%-block sidebar_content%}
                            {{sidebar_item('Home', '/home','fa fa-home')}}
                            {% for sidebar in extra_data.view.sidebars %}
                                {{-sidebar_item(sidebar.name, sidebar.link, sidebar.icon, sidebar.classes)-}}
                            {% endfor %}
                            {{-sidebar_item('Sign Project Proposal', '/APS/Signatory/ActivtiyList', 'fa fa-check')-}}
                            {{-sidebar_item('Change Password', '/System/ChangePassword', 'fa fa-check')-}}
                        {%endblock-%}
                    </ul>
                </div>
                <div class="slimScrollBar" style="background: rgb(220, 220, 220); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 364px;">
                </div>

                <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
                </div>
            </div>
            <!-- /%Left navbar-header -->
    	{%endblock%}

    	<!-- %pre_content -->
    	{%block pre_content%}
        {%endblock%}
        <!-- /%pre_content -->

    	<!-- Page Content -->
        <div id="page-wrapper" style="min-height: 363px;">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">CSO Information System</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <!-- %breadcrumb -->
                       
                            <!-- /%breadcrumb -->
                        </ol>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /row  /.bg-title-->

                <!-- %content -->
                {%block content%}
                {%endblock%}
                <!-- /%content -->

            </div><!-- /.container-fluid -->
            <footer class="footer text-center">
                {%-block footer%}
                    {%if(extra_data.view.footer)%}
                        {{-extra_data.view.footer-}}
                    {%else%}
                        2017 © CSO Activity Monitoring System brought to you by the Elite Proletariats
                    {%endif%}
                {%endblock-%}
            </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- %post_content -->
    {%block post_content%}
    {%endblock%}
    <!-- /%post_content -->
{%endblock%}

{% macro breadcrumb_item(name='', class) %}
    <li {%if (class)%}class="{{class}}"{%endif%}>{{name}}</li>
{% endmacro %}

{% macro sidebar_item(name='', link='javascript:void(0);', icon='') %}
    <li>
        <a href="{{link}}" class="waves-effect">
            <i class="{{icon}}"></i>
            <span class="hide-menu sideBarText">{{name}}</span>
        </a>
    </li>
{% endmacro %}

{% macro notification_item(title, description, timestamp, details=null) %}
    <div class="user-img">
        {#
            sets the profile picture
        <img src="../plugins/images/users/pawandeep.jpg" alt="user" class="img-circle">
        #}
        {#
            .profile-status adds the circle
            .online or .away or .offline or .busy sets the inner color
        #}
        <span class="profile-status online pull-right"></span>
    </div>

    <div class="mail-content notif_unseen">
        <h5>{{title}}</h5>
        <span class="mail-desc">{{description}}</span>
        <span class="time">{{timestamp}}</span>
     </div>
{% endmacro %}