{% extends './master.html' %}
{% import './tags_macro.html' as tag %}

{%block page_title%}CSO Activity Management System{%-endblock%}
 
{%block body%}
    <!-- .preloader -->
    {%block body_preloader%}
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    {%endblock%}
    <!--- ./preloader -->
    <div id="wrapper">
        
    	{%block header%}
    		{%include './master_section/header.html'%}
    	{%endblock%}
    	 
    	{%block sidebar%}
            <!-- %Left navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                            <!-- input-group -->
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        {%block sidebar_content%}
                        {%endblock%}
                    </ul>
                </div>
                <div class="slimScrollBar" style="background: rgb(220, 220, 220); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 364px;"> 
                </div>

                <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
                </div>
            </div>
            <!-- /%Left navbar-header -->
    	{%endblock%}

    	<!-- %pre_content -->
    	{%block pre_content%}
        {%endblock%}
        <!-- /%pre_content -->

    	<!-- Page Content -->
        <div id="page-wrapper" style="min-height: 363px;">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">CSO Information System</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <!-- %breadcrumb -->
                            {%block breadcrumb%}
                            {%endblock%}
                            <!-- /%breadcrumb -->
                        </ol>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /row  /.bg-title-->

                <!-- %content -->
                {%block content%}
                {%endblock%}
                <!-- /%content -->

            </div><!-- /.container-fluid -->
            <footer class="footer text-center">{%block footer%}2017 © Elite Admin brought to you by themedesigner.in{%endblock%}</footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- %post_content -->
    {%block post_content%}
    {%endblock%}
    <!-- /%post_content -->
{%endblock%}

{%block script%}
    {{super()}}
{%endblock%}

{% macro breadcrumb_item(name='', class) %}
    <li {%if (class)%}class="{{class}}"{%endif%}>{{name}}</li>
{% endmacro %}

{% macro sidebar_item(name='', link='javascript:void(0);', classes='') %}
    <li>
        <a href="{{link}}" class="waves-effect {{classes}}">
            <i class="linea-icon linea-basic fa-fw text-danger" data-icon="7"></i>
            <span class="hide-menu sideBarText">{{name}}</span>
        </a>
    </li>
{% endmacro %}