{% extends './master.html' %}
{% import './tags_macro.html' as tag %}

{%block page_title%}CSO Activity Management System{%-endblock%}
 
{%block body%}
    <!-- .preloader -->
    {%block body_preloader%}
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    {%endblock%}
    <!--- ./preloader -->
    
	<!-- Top Navigation -->
	{%block header%}
		{%include './master_section/header.html'%}
	{%endblock%}
	 <!-- End Top Navigation -->

     <!-- Left navbar-header -->
	{%block sidebar%}
        {%include './master_section/left_sidebar.html'%}
	{%endblock%}

	<!-- Left navbar-header end -->

	<!-- %pre_content -->
	{%block pre_content%}
    {%endblock%}
    <!-- /%pre_content -->

	<!-- Page Content -->
    <div id="page-wrapper" style="min-height: 363px;">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">APS Associate</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        {%block breadcrumb%}
                        {%endblock%}
                    </ol>
                </div><!-- /.col-lg-12 -->
            </div><!-- /row  /.bg-title-->

            <!-- %content -->
            {%block content%}
            {%endblock%}
            <!-- /%content -->

        </div><!-- /.container-fluid -->
        <footer class="footer text-center">{%block footer%}2017 © Elite Admin brought to you by themedesigner.in{%endblock%}</footer>
    </div>
    <!-- /#page-wrapper -->

    <!-- %post_content -->
    {%block post_content%}
    {%endblock%}
    <!-- /%post_content -->
{%endblock%}

{%block script%}
    {{super()}}
{%endblock%}

{% macro breadcrumb_item(name='', class='') %}
    <li class="{{class}}">{{name}}</li>
{% endmacro %}

{% macro sidebar_item(name='', link='javascript:void(0);') %}
    <li>
        <a href="{{link}}" class="waves-effect">
            <i class="linea-icon linea-basic fa-fw text-danger" data-icon="7"></i>
            <span class="hide-menu sideBarText">{{name}}</span>
        </a>
    </li>
{% endmacro %}