<!DOCTYPE html>
<html>
	<head>
		{%block meta%}
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{%block page_meta_description%}{%endblock%}">
        <meta name="author" content="{%block page_meta_author%}{%endblock%}">
        {%endblock%}

        <link rel="icon" type="image/png" sizes="16x16" href="{%block page_icon_href%}/plugins/images/favicon.png{%endblock%}">

		<title>{%block page_title%}CSO - System{%endblock%}</title>

		{%block style%}
        {%endblock%}

        {%block defer_script%}
        {%endblock%}
	</head>
	<body>
		{%block body%}
		{%endblock%}

		{%block script%}
        {%endblock%}
	</body>
</html>