
        <div class="modal-dialog"  style="margin-top: 130px">
            <div class="modal-content">
                <div class="modal-header
                {%if activity.status == 1%}
                    bg-success
                 {%elif activity.status == 2%}
                      bg-warning
                {%elif activity.status == 3%}
                      bg-danger
                {%endif%}     
                 ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <!--
                        label-success = approved
                        label-danger = denied
                        label-warning = pended
                    -->
                    {%if activity.status == 0%}
                    <h4 class="modal-title ">{{activity.description}}</h4>
                    {%else%}
                    <h4 class="modal-title text-white ">{{activity.description}}</h4>
                    {%endif%}
                    
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="control-label col-md-4">Mode of Distribution:</label>
                                <div class="col-md-8">
                                    {%if activity.modeOfDistribution == 0%}
                                        <p class="control-label">Online</p>
                                    {%elif activity.modeOfDistribution == 0%}
                                        <p class="control-label">Printed</p>
                                    {%endif%}                                    
                                </div>
                                <label class="control-label col-md-4">Target Posting Date:</label>
                                <div class="col-md-8">
                                    <p class="control-label">{{activity.tdate}}</p>
                                </div>
                                <label class="control-label col-md-4">Status</label>
                                <div class="col-md-8">
                                    {%if activity.status == 0%}
                                        <p class="control-label">For Evaluation</p>
                                    {%elif activity.status == 1%}
                                        <p class="control-label">Approved</p>
                                    {%elif activity.status == 2%}
                                        <p class="control-label">Pended</p>
                                    {%elif activity.status == 3%}
                                        <p class="control-label">Denied</p>
                                    {%endif%}     
                                  
                                </div>
                                {%if activity.status == 3%}
                                <label class="control-label col-md-4">Reason:</label>
                                <div class="col-md-8">
                                    <p class="control-label">{{activity.comments}}</p>
                                </div>
                                {%endif%}
                                <label class="control-label col-md-4">Checked by</label>
                                <div class="col-md-8">
                                    <p class="control-label">Dominique Dagunton</p>
                                </div>
                                <label class="control-label col-md-4">Date Checked</label>
                                <div class="col-md-8">
                                    <p class="control-label">{{activity.ddate}}</p>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    