{% extends "../template/APS/ActivityRequirementsFW.html" %}


{%block styles%}
	<link href="css/custom.css" rel="stylesheet">
{%endblock%}

{%block header%}
	{%include "../section/header.html"%}
{%endblock%}

{%block sidebar%}
	{%include "../section/sidebar/ cso-aps.html"%}
{%endblock%}


{%block content%}
<div class="row">

  <div class="col-md-12">
    <div class="panel panel-default white-box">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                   <table class="table table-striped">
                                        <thead>
                                            <tr style="display: none">
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <tr>
                                                <td><strong>Title of Activity:</strong></td>
                                                <td colspan="3">Recreation</td>
                                                
                                                    
                                            </tr>
                                            <tr>
                                                <td> <strong>Nature of Activity:</strong></td>
                                                <td >Special Interest</td>
                                                
                                                <td><strong> ENMP / ENP:    </strong></td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Date:</strong></td>
                                                <td colspan="3">September 17, 2017 - September 18, 2017</td>
                                                
                                            </tr>
                                            <tr>
                                                <td><strong>Time:</strong></td>
                                                <td >7:30 PM - 12:30 PM</td>
                                                 <td><strong>Venue:</strong></td>
                                                <td >Gokongwei Building</td>
                                            </tr>
                                            
                                            
                                            <tr>
                                                <td><strong>Project Heads:</strong></td>
                                                <td colspan="3">
                                                    <p>Juan Dela Cruz - 09478569874</p>
                                                    <p>Pedro Aquino - 09478532147</p>
                                                </td>
                                            </tr>
                                          
                                           
                                        </tbody>
                                </table>
                  
                    <section id="section-linetriangle-2" style="min-height:1000px;padding-top:55px">
                        <div id="exampleBasic" class="wizard">
                            <ul class="wizard-steps" role="tablist">
                                <li class="active text-center current" role="tab">
                                    <h4><span><i class="fa fa-book"></i></span> </h4>
                                </li>
                                <li class="text-center" role="tab"><h4><span><i class="fa fa-calendar"></i></span></h4> </li>
                                <li class="text-center" role="tab"><h4><span><i class="fa fa-money"></i></span></h4> </li>
                                <li class="text-center" role="tab"><h4><span><i class="fa fa-credit-card"></i></span> </h4> </li>
                                <li class="text-center" role="tab"><h4><span><i class="fa fa-upload"></i></span></h4> </li>
                            </ul>
                            <div class="wizard-content">

                              <div class="wizard-pane active" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <h3>Brief Context / Perspective of the Activity</h3>
                                                <hr>
                                                <p>
                                                    <strong> Minimum of 3 paragraphs answering the following questions in application of the Lasallian Reflection   Framework:
                                                    </strong>
                                                </p>
                                                <ul >
                                                    <li>
                                                        What situation do you see (observation/s) in your organization, university, society, or our world?
                                                        What certain experiences, problems, or questions do you have in relation to what you see? (May be supported with data or research if there is any or if needed)
                                                    </li>

                                                    <li>
                                                        Why is there a problem?
                                                        What could be the cause and effect?
                                                        How did you feel about the experience, situation, or problem? And why did you feel that way?
                                                        What can we discover or realize?
                                                    </li>

                                                    <li >
                                                      Out of all the possible projects, activities, and solutions, Why this?
                                                      As an organization, what will you commit as a response to what you have stated in Part 2?
                                                    </li>

                                                  </ul>

                                                
                                                <label class="control-label"></label>
                                                <input style="height:0px; top:-1000px; position:absolute;display: none" type="text" value="">
                                                <textarea  class="form-control" rows=20></textarea> 
                                            </div>
                                        </div>

                                    </div>
                              </div>

                              <div class="wizard-pane" role="tabpanel">
                                    <h3>Comprehensive Program Design</h3>
                                    <hr>
                                            
                                    <div data-example-id="togglable-tabs" class="bs-example bs-example-tabs" style="padding-top: 25px">
                                        <ul role="tablist" class="nav nav-tabs" id="myTabs">
                                            <li class="active nav-item" id="t0" role="presentation"><a aria-expanded="true" class="nav-link" aria-controls="home" data-toggle="tab" role="tab" id="tab-0" href="#ctab0">Day 1</a></li>
                                            <!--    <li class=" nav-item" id="t1" role="presentation"><a aria-expanded="true" class="nav-link" aria-controls="home" data-toggle="tab" role="tab" id="tab-1" href="#ctab1">Day 2</a></li> -->
                                            <!-- <li role="presentation" class="nav-item panel-success"><a aria-controls="profile" class="nav-link" id="add-tab" href="tab-" role="tab"  aria-expanded="false"></a></li> -->
                                            <li role="presentation" class="nav-item "><a aria-controls="profile" class="nav-link" id="add-tab" href="#" role="tab"   aria-expanded="false"><i class="text-success fa fa-plus"></i></a></li>
                                            <!--  <li role="presentation" class="nav-item "><a style="border-color: white white #ddd white" aria-controls="profile" class="nav-link" id="delete-tab" href="#" role="tab"   aria-expanded="false"><i class="text-danger fa fa-times"></i></a></li> -->

                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div aria-labelledby="tab-0" id="ctab0" class="tab-pane fade active in" role="tabpanel">
                                                 <div class="row">
                                                    <div class="col-md-4" id="clone-question"  style="padding: 25px;position: relative;  ">
                                                        <!-- pangcancel ng auto open datepicker -->
                                                        <input style="height:0px; top:-1000px; position:absolute;display: none" type="text" value="">
                                                        <label>Date</label>
                                                        <div class="input-group">
                                                            <input readonly="" class="form-control" id="datepicker-autoclose" placeholder="mm/dd/yyyy" type="text">
                                                            <span class="input-group-addon"><i class="icon-calender"></i></span> 
                                                        </div>
                                                        <div>&nbsp</div>
                                                        <label>Time</label>
                                                        <div class="input-group clockpicker " data-autoclose="true">
                                                            <input type="text" id="start-time" class="form-control" value="00:00" readonly="">
                                                            <span class=" input-group-addon bg-info b-0 text-white">to</span>
                                                            <!-- <input type="text" name="end" class="form-control" value="00:00" readonly=""> -->


                                                            <input type="text" id="end-time" class="form-control" value="00:00" readonly="">

                                                            <!-- <input type="text" name="end" class="form-control" value="00:00" readonly=""> -->

                                                        </div>
                                                        <div>&nbsp</div>
                                                        <label>Activity</label>
                                                        <input id="act0"  type="text" class="form-control">
                                                        <div>&nbsp</div>
                                                        <label>Description</label>
                                                        <textarea id="desc0" class="form-control" rows="2" ></textarea>
                                                        <div>&nbsp</div>
                                                        <label>Person in Charge</label>
                                                        <select id="sel0" class="form-control select2">                                                                                    
                                                            <option value="DE">Delaware</option>
                                                            <option value="FL">Florida</option>
                                                            <option value="GA">Georgia</option>
                                                            <option value="IN">Indiana</option>
                                                            <option value="ME">Maine</option>
                                                            <option value="MD">Maryland</option>
                                                            <option value="MA">Massachusetts</option>
                                                            <option value="MI">Michigan</option>
                                                            <option value="NH">New Hampshire</option>
                                                            <option value="NJ">New Jersey</option>
                                                            <option value="NY">New York</option>
                                                            <option value="NC">North Carolina</option>
                                                            <option value="OH">Ohio</option>
                                                            <option value="PA">Pennsylvania</option>
                                                            <option value="RI">Rhode Island</option>
                                                            <option value="SC">South Carolina</option>
                                                            <option value="VT">Vermont</option>
                                                            <option value="VA">Virginia</option>
                                                            <option value="WV">West Virginia</option>

                                                        </select>
                                                        <div>&nbsp</div>
                                                        <div class=" form-group text-center">

                                                         <button type="button" id="insert-button" class="btn btn-success">Insert </button>

                                                     </div>
                                                    </div>
                                                 <!--/span-->
                                                     <div class="col-md-8 " id="clone-table" style="padding-top: 30px">
                                                        <table id="program-tables" class="table program color-bordered-table success-bordered-table" >
                                                            <thead>
                                                                <tr>

                                                                    <th width="21%" >Time</th>
                                                                    <th width="10%">Duration</th>
                                                                    <th width="20%">Activity</th>
                                                                    <th width="21%">Description</th>
                                                                    <th width="23%">Person in Charge</th>
                                                                    <th width="5%" data-field="state" data-checkbox="true"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="no-records-found">
                                                                    <td ></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                            <!-- 
                                                            <tr>
                                                                <td></td>
                                                                <td>09:00 - 12:00</td>
                                                                <td>Deshmukh</td>
                                                                <td>Prohaska</td>
                                                                <td>@Genelia</td>
                                                                <td>@Sonu</td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                               <td>09:00 - 12:00</td>
                                                                <td>Roshan</td>
                                                                <td>Rogahn</td>
                                                                <td>@Hritik</td>
                                                                <td>@Sonu</td>
                                                            </tr> -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                            <!--/span-->
                                                </div>
                                            </div>
                                                <!-- <div aria-labelledby="tab-1" id="ctab1" class="tab-pane" role="tabpanel">
                                           asd
                                       </div> -->


                                        </div>
                                    </div>
                              </div>

                              <div class="wizard-pane" role="tabpanel">
                                    <h3>Source of Funds and Breakdown of Expense </h3>
                                    <hr>
                                    <div class="form-group">
                                     <input style="height:0px; top:-1000px; position:absolute;display: none" type="text" value="">
                                      <label class="control-label col-md-3">Expenses</label>
                                      <div class="col-md-9">
                                          <div class="radio-list">
                                              <label>
                                                  <input  name="optionsRadios2" value="option1" checked="" type="radio"> Yes </label>
                                              <label>
                                                  <input name="optionsRadios2" value="option2"  type="radio"> No </label>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="exp">&nbsp</div>

                                    <div class="form-group exp">
                                      <label class="control-label col-md-3">Organizational Funds</label>
                                      <input class="col-md-6" type="text">
                                        
                                         
                                    </div>

                                    <div class="exp">&nbsp</div>

                                    <div class="form-group exp">
                                      <label class="control-label col-md-3">Participant's Fee</label>
                                      <input class="col-md-6" type="text">
                                        
                                         
                                    </div>

                                    <div class="exp">&nbsp</div>

                                    <div class="form-group exp">
                                      <label class="control-label col-md-3">Others(i.e Sponsorship)</label>
                                      <input class="col-md-6" type="text">
                                        
                                         
                                    </div>

                                    <div class="exp">&nbsp</div>
                                    <hr class="exp">

                                     <div class="form-group exp">
                                      <label class="control-label col-md-3">Total</label>
                                      <a class="col-md-6" type="text">1909</a>
                                        
                                         
                                    </div>
                                    <div class="exp">&nbsp</div>
                                    <div class="exp">&nbsp</div>

                                    <div class="exp">&nbsp</div>
                                    <div class="exp">&nbsp</div>
                                    <div class="row exp" style="padding-top: 25px">
                                        <div class="col-md-12">
                                           


                                            <table id="mainTable" class="table editable-table table-bordered color-bordered-table success-bordered-table table-striped m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th>Material</th>
                                                        <th>Quantity</th>
                                                        <th>Unit Cost</th>
                                                        <th>Total Cost</th>
                                                        <th width="5%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- <tr>
                                                        <td>Car</td>
                                                        <td>100</td>
                                                    
                                                        <td>20</td>
                                                        <th class="total">0</th>
                                                    </tr> -->
                                                  
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th class="text-right" colspan="3"><strong>TOTAL</strong></th>
                                                        
                                                        <th colspan="2"></th>
                                                    </tr>
                                                    </thead>
                                            </table>

                                                
                                            <div>&nbsp</div>
                                            <div class=" form-group text-center">

                                                 <button type="button" id="insert-button-expense" class="btn btn-success">Insert </button>
                                             </div>

                                        </div>
                                    </div>

                                   
                                    
                              </div>

                              <div class="wizard-pane" role="tabpanel">
                                    <h3>Organizational Funds</h3>
                                    <input style="height:0px; top:-1000px; position:absolute;display: none" type="text" value="">
                                    <hr>
                                        
                                          

                                    <div class="form-group">
                                      <label class="control-label col-md-3">Operational Fund</label>
                                      <input class="col-md-9" type="text">
                                        
                                         
                                    </div>

                                    <div>&nbsp</div>

                                    <div class="form-group">
                                      <label class="control-label col-md-3">Depository Fund</label>
                                      <input class="col-md-9" type="text">
                                        
                                         
                                    </div>

                                    <div>&nbsp</div>

                                    <div class="form-group">
                                      <label class="control-label col-md-3">Other Sources of Funds</label>
                                      <input class="col-md-9" type="text">
                                        
                                         
                                    </div>

                                    <div>&nbsp</div>
                                    <hr>

                                     <div class="form-group">
                                      <label class="control-label col-md-3">Total Cash for Disbursement:</label>
                                      <a class="col-md-9" type="text">1909</a>
                                        
                                         
                                    </div>
                                    <div>&nbsp</div>
                                    <div>&nbsp</div>
                                    <div>&nbsp</div>

                                    

                                     <div class="form-group">
                                      <label class="control-label col-md-3">Total Projected Expenses:</label>
                                      <a class="col-md-9" type="text">1909</a>
                                        
                                         
                                    </div>

                                    <div>&nbsp</div>
                                    <div>&nbsp</div>
                                    <div>&nbsp</div>

                                    <h3>Projected Income</h3>
                                    <hr>

                                  
                                    <table id="mainTable2" class="table editable-table table-bordered color-bordered-table success-bordered-table table-striped m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th colspan="5">Projected Revenue</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Quantity</th>
                                                        <th>Selling Price</th>
                                                        <th>Total Cost</th>
                                                        <th width="5%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="rev-row" style="display: none">
                                                        <td>Car</td>
                                                        <td>100</td>
                                                    
                                                        <td>20</td>
                                                        <th class="total">0</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Car</td>
                                                        <td>100</td>
                                                    
                                                        <td>20</td>
                                                        <th class="total">0</th>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#fb9678" style="color: #fff" colspan="5" >Less: Projected Expense</th>
                                                    </tr>
                                                     <tr class="exp-row">
                                                        <th bgcolor="#fb9678" style="color: #fff">Item</th>
                                                        <th bgcolor="#fb9678" style="color: #fff">Quantity</th>
                                                        <th bgcolor="#fb9678" style="color: #fff">Selling Price</th>
                                                        <th bgcolor="#fb9678" style="color: #fff">Total Cost</th>
                                                        <th bgcolor="#fb9678" style="color: #fff" width="5%"></th>
                                                    </tr>
                                                    
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th class="text-right" colspan="3"><strong>Total Income</strong></th>
                                                        
                                                        <th colspan="2"></th>
                                                    </tr>
                                                    </thead>
                                    </table>


                                    <div>&nbsp</div>
                                    <div class=" form-group text-center">

                                         <button type="button" id="insert-button-income" class="btn btn-success">Insert Revenue</button>
                                           <button type="button" id="insert-button-expense2" class="btn btn-danger">Insert Expense </button>
                                    </div>

                                    <div>&nbsp</div>
                                    <div>&nbsp</div>
                                    <div>&nbsp</div>



                              </div>

                              <div class="wizard-pane" role="tabpanel">
                                    <h3>Attachments</h3>
                                    <hr>

                                  <div class="form-group">
                                  <input style="height:0px; top:-1000px; position:absolute;display: none" type="text" value="">
                                      <label class="col-sm-12">File upload</label>
                                      <div class="col-sm-12">
                                          <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                              <div class="form-control" data-trigger="fileinput">
                                                  <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                  <span class="fileinput-filename"></span>
                                              </div>
                                              <span class="input-group-addon btn btn-default btn-file"> 
                                              <span class="fileinput-new">Select file</span>
                                              <span class="fileinput-exists">Change</span>
                                              <input type="file" name="...">
                                              </span>
                                              <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> </div>
                                      </div>
                                  </div>

                              </div>

                        </div>                                                   
                    </section>
              </div>
        </div>
    </div>
  </div>
</div>
{%endblock%}

{%block scripts%}

<script type="text/javascript">
    ctr = 0;
    
    $(".select2").select2();
    $("div.fixed-table-loading").remove();
    $("#myTabs ").on('click','i.close-day',function(){
        var c = $(this).closest("a").attr("href");
        ctr--;
        console.log("asd"+ c);
        $(this).closest("li").remove();
        $(c).remove();
        var tabFirst = $('#myTabs a:first');
            // resetTab();
            tabFirst.tab('show');

        });
    
    $(document).ready(function(){
        $("div.fixed-table-loading").remove();
        $('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        
        
        

         // $('.fxsdr').attr('checked', true);
            // $("tr.no-records-found").remove();.on("focus","input",
    });
    $(document).bind("customHtmlGenerated", function(){
      var idNumber = $("ul#myTabs").find(".active").attr("id").substring(1);
       $('#datepicker-autoclose'+ctr).datepicker({
          autoclose: true,
          todayHighlight: true
      });

         var clockpicker = $('#start-time'+ctr).clockpicker({
          donetext: 'Done',
          autoclose:true,            
      });
         console.log("asd");
         var clockpicker2 = $('#end-time'+ctr).clockpicker({
          donetext: 'Done',
          autoclose:true,           
      });
      $("#program-tables"+idNumber).on('click','.remove-time',function(){
          tctr--;
          var tspace = 
          '<td ></td>'+
          '<td></td>'+
          '<td></td>'+
          '<td></td>'+
          '<td></td>'+
          '<td></td>'
          ;
          if(tctr ==0){
              $(this).closest("tr").attr("class","no-records-found").find("td").html(" ");
          }else{
              $(this).closest("tr").remove();         
          }
          
          
          

      });

       $("#insert-button"+ctr).click(function(){
        
        var dateInp =  $("#datepicker-autoclose"+idNumber).val();
        var startInp = $("#start-time"+idNumber).val();
        var endInp = $("#end-time"+idNumber).val();
        if(idNumber == 0 ){
          dateInp =  $("#datepicker-autoclose").val();
          startInp = $("#start-time").val();
          endInp = $("#end-time").val();
        }
        
        var actInp = $("#act"+idNumber).val();
        var descInp = $("#desc"+idNumber).val();
        var selInp = $("#sel"+idNumber).val();



        var trow = " <tr>"+

                  "<td  style='color:#2b2b2b'>"+startInp+" - "+endInp+"</td>"+
                  "<td style='color:#2b2b2b'>Roshan</td>"+
                  "<td style='color:#2b2b2b'>"+actInp+"</td>"+
                  "<td style='color:#2b2b2b'>"+descInp+"</td>"+
                  "<td style='color:#2b2b2b'>"+selInp+"</td>"+
                  '<td ><i class="fa fa-times text-danger  remove-time"></i></td>'+
                  "</tr>";
        var ttd=
         "<td  style='color:#2b2b2b'>"+startInp+" - "+endInp+"</td>"+
          "<td style='color:#2b2b2b'>Roshan</td>"+
          "<td style='color:#2b2b2b'>"+actInp+"</td>"+
          "<td style='color:#2b2b2b'>"+descInp+"</td>"+
          "<td style='color:#2b2b2b'>"+selInp+"</td>"+
        '<td ><i class="fa fa-times text-danger remove-time"></i></td>';
        console.log("ASD");

        console.log("UNANG IF" + $("#program-tables"+ctr+" tbody tr:first").hasClass("no-records-found"));
        if($("#program-tables"+$("ul#myTabs").find(".active").attr("id").substring(1)+" tbody tr:first").hasClass("no-records-found")){
            console.log("PASOK asd")
            $("#program-tables"+$("ul#myTabs").find(".active").attr("id").substring(1)+" tr.no-records-found").find("td").remove();
            $("#program-tables"+$("ul#myTabs").find(".active").attr("id").substring(1)+" tr.no-records-found").append(ttd);
            $("#program-tables"+$("ul#myTabs").find(".active").attr("id").substring(1)+" tbody tr.no-records-found").removeClass("no-records-found");
        }else{
            console.log("pasok");
            console.log("TABLE NUMBER "+$("ul#myTabs").find(".active").attr("id").substring(1));
            $("#program-tables"+$("ul#myTabs").find(".active").attr("id").substring(1)+" tbody").append(trow);
        }

        

    });
        //NEED TO BE FIXED TO ROUND
        // clockpicker.change(function(){
        //     console.log("DONW");
        //     clockpicker.val(round());
        // });
        // clockpicker2.change(function(){
        //     console.log("DONW");
        //     clockpicker2.val(round2());
        // });
        
    });
    $("ul li").on('click','a#add-tab',function(e){
        var div = $("<div class='row'><div style='display:none'></div></div>");

        // var toBeInserted = div.find("div").append(qclon,qtabl);



        ctr++;
        e.preventDefault();
        console.log("ASd");

        var tni = 


        '<div class="col-md-4" style="padding: 25px;position: relative;  ">'+               
        '<input style="height:0px; top:-1000px; position:absolute;display: none" type="text" value="">'+
        '<label>Date</label>'+
        '<div class="input-group">'+
        '<input readonly="" class="form-control" id="datepicker-autoclose'+ctr+'" placeholder="mm/dd/yyyy" type="text">'+
        '<span class="input-group-addon"><i class="icon-calender"></i></span>'+
        '</div>'+
        '<div>&nbsp</div>'+
        '<label>Time</label>'+
        '<div class="input-group clockpicker " data-autoclose="true">'+
        '<input type="text" id="start-time'+ctr+'" class="form-control" value="00:00" readonly="">'+
        '<span class=" input-group-addon bg-info b-0 text-white">to</span>'+
        '<input type="text" id="end-time'+ctr+'" class="form-control" value="00:00" readonly="">'+
        '</div>'+
        '<div>&nbsp</div>'+
        '<label>Activity</label>'+
        '<input type="text" class="form-control" id="act'+ctr+'">'+
        '<div>&nbsp</div>'+
        '<label>Description</label>'+
        '<textarea class="form-control" rows="2" id="desc'+ctr+'"></textarea>'+
        '<div>&nbsp</div>'+
        '<label>Person in Charge</label>'+
        '<select class="form-control select2" id="sel'+ctr+'">'+
        '<option value="DE">Delaware</option>'                    +

        '</select>'+
        '<div>&nbsp</div>'+
        '<div class=" form-group text-center">'+

        '<button type="button" id="insert-button'+ctr+'" class="btn btn-success">Insert </button>'+

        '</div>'+
        '</div>'+

        '<div class="col-md-8 " style="padding-top: 30px">'+
        '<table id="program-tables'+ctr+'" class="table program color-bordered-table success-bordered-table"  >'+
        '<thead>'+
        '<tr>'+

        '<th width="21%">Time</th>'+
        '<th width="10%">Duration</th>'+
        '<th width="20%">Activity</th>'+
        '<th width="21%">Description</th>'+
        '<th width="23%">Person in Charge</th>'+
        '<th width="25%" data-field="state" data-checkbox="true"></th>'+
        '</tr>'+
        '</thead>'+
        '<tbody>'+
        '<tr class="no-records-found">'+
        '<td ></td>'+
        '<td></td>'+
        '<td></td>'+
        '<td></td>'+
        '<td></td>'+
        '<td></td>'+
        '</tr>'+

        '</tbody>'+
        '</table>'+
        '</div>';


        $("#t"+(ctr-1)).after('<li role="presentation" class="nav-item " id="t'+ctr+'"><a aria-controls="profile " class="nav-link" id="tab-'+ctr+'" data-toggle="tab" href="#ctab'+ ctr + '" role="tab"  aria-expanded="true">Day '+ (ctr+1)+'      '+'<i class="fa ti-close close-day" style="font-size:8px;top:5px;right:5px;position:absolute;"></i></a></li>');
        var cont = $("#ctab"+(ctr-1)).after('<div aria-labelledby="tab-'+ctr+'" id="ctab'+ctr+'" class="tab-pane " role="tabpanel"><div id="temp'+ctr+'" class="row">'+tni+'</div></div>');
        // cont.find("#temp").append(toBeInserted);

        //NEED TO REINITIALIZE

        


        
        //  var qclon = $("#clone-question").clone(true).appendTo("#temp"+ctr);
        // var qtabl = $("#clone-table").clone(true).appendTo("#temp"+ctr);


        $(".nav-tabs  a[href='#ctab" + (ctr)+ "']").tab("show");
        $("#tab-0").removeAttr("class","active");
        $(document).trigger("customHtmlGenerated");


    });
    var clockpicker = $('#start-time').clockpicker({
        donetext: 'Done',
        autoclose:true,            
    });
    var clockpicker2 = $('#end-time').clockpicker({
        donetext: 'Done',
        autoclose:true,           
    });

    clockpicker.change(function(){
        console.log("DONW");
        clockpicker.val(round());
    });
    clockpicker2.change(function(){
        console.log("DONW");
        clockpicker2.val(round2());
    });


    function round() {
      var time = clockpicker.val(),
      arr = time.split(':'),
      hour = arr[0],
      min = arr[1],
      newMin = (Math.floor(parseInt(min) / 5)) * 5;

      return hour + ':' + (newMin > 9 ? '' : '0') + newMin;
  }
        // JEJEMON TO TINAMAD NA AKO. AYUSIN KO NEXT TIME
        function round2() {
          var time = clockpicker2.val(),
          arr = time.split(':'),
          hour = arr[0],
          min = arr[1],
          newMin = (Math.floor(parseInt(min) / 5)) * 5;

          return hour + ':' + (newMin > 9 ? '' : '0') + newMin;
      }
        // $('#start-time').clockpicker({
        //     donetext: 'Done',
        //     autoclose:true,


        // });
        $('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        tctr = 0
        
        $("#insert-button").click(function(){
          var dateInp =  $("#datepicker-autoclose").val();
          var startInp = $("#start-time").val();
          var endInp = $("#end-time").val();
          var actInp = $("#act0").val();
          var descInp = $("#desc0").val();
          var selInp = $("#sel0").val();
            var trow = " <tr>"+

            "<td  style='color:#2b2b2b'>"+startInp+" - "+endInp+"</td>"+
            "<td style='color:#2b2b2b'>Roshan</td>"+
            "<td style='color:#2b2b2b'>"+actInp+"</td>"+
            "<td style='color:#2b2b2b'>"+descInp+"</td>"+
            "<td style='color:#2b2b2b'>"+selInp+"</td>"+
            '<td ><i class="fa fa-times remove-time"></i></td>'+
            "</tr>";
            var ttd=
            "<td  style='color:#2b2b2b'>"+startInp+" - "+endInp+"</td>"+
            "<td style='color:#2b2b2b'>Roshan</td>"+
            "<td style='color:#2b2b2b'>"+actInp+"</td>"+
            "<td style='color:#2b2b2b'>"+descInp+"</td>"+
            "<td style='color:#2b2b2b'>"+selInp+"</td>"+
            '<td ><i class="fa fa-times  remove-time"></i></td>';
            console.log("ASD");
             if($("#program-tables tbody tr:first").hasClass("no-records-found")){

                $("#program-tables tr.no-records-found").find("td").remove();
                $("#program-tables tr.no-records-found").append(ttd);
                $("#program-tables tr.no-records-found").removeAttr("class","no-records-found");
            }else{
                console.log("pasok");
                $("#program-tables tbody").append(trow);
            }

            tctr++;
            console.log(tctr);

        });
        $("#program-tables").on('click','.remove-time',function(){
            tctr--;
            var tspace = 
            '<td ></td>'+
            '<td></td>'+
            '<td></td>'+
            '<td></td>'+
            '<td></td>'+
            '<td></td>'
            ;
            if(tctr ==0){
                $(this).closest("tr").attr("class","no-records-found").find("td").html(" ");
            }else{
                $(this).closest("tr").remove();         
            }
            
            
            

        });
        $("#insert-button-expense").click(function(){
          var ttr = '<tr>'+
                      '<td></td>'+
                      '<td></td>'+
                      '<td></td>'+
                      '<th class="total"></th>'+
                      '<th class="text-center" width="5%"><i class="fa fa-times remove-time"></i></th>'+
                  '</tr>';
          $("#mainTable tbody").append(ttr);
          $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();

        });
        // .find('input').change(function() {
        //     console.log(this.value);
        // });
        // $("#delete-tab").click(function(e){
        //     e.preventDefault();
        //     console.log($('.nav-tabs .active').text());
        //     $(".nav-tabs  a[href='#ctab" + (ctr)+ "']").tab("show");
        // });
        (function() {

            [].slice.call(document.querySelectorAll('.sttabs')).forEach(function(el) {
                new CBPFWTabs(el);
            });

        })();
        
        (function() {
            $('#exampleBasic').wizard({
                onFinish: function() {
                    alert('finish');
                }
            });
            $('#exampleBasic2').wizard({
                onFinish: function() {
                    alert('finish');
                }
            });
            $('#exampleValidator').wizard({
                onInit: function() {
                    $('#validation').formValidation({
                        framework: 'bootstrap',
                        fields: {
                            username: {
                                validators: {
                                    notEmpty: {
                                        message: 'The username is required'
                                    },
                                    stringLength: {
                                        min: 6,
                                        max: 30,
                                        message: 'The username must be more than 6 and less than 30 characters long'
                                    },
                                    regexp: {
                                        regexp: /^[a-zA-Z0-9_\.]+$/,
                                        message: 'The username can only consist of alphabetical, number, dot and underscore'
                                    }
                                }
                            },
                            email: {
                                validators: {
                                    notEmpty: {
                                        message: 'The email address is required'
                                    },
                                    emailAddress: {
                                        message: 'The input is not a valid email address'
                                    }
                                }
                            },
                            password: {
                                validators: {
                                    notEmpty: {
                                        message: 'The password is required'
                                    },
                                    different: {
                                        field: 'username',
                                        message: 'The password cannot be the same as username'
                                    }
                                }
                            }
                        }
                    });
                },
                validator: function() {
                    var fv = $('#validation').data('formValidation');
                    var $this = $(this);
                // Validate the container
                fv.validateContainer($this);
                var isValidStep = fv.isValidContainer($this);
                if (isValidStep === false || isValidStep === null) {
                    return false;
                }
                return true;
            },
            onFinish: function() {
                $.post("keep.php", $("#validation").serialize()).done(function() {
                    alert("hiiii");
                });
            }
        });
            $('#accordion').wizard({
                step: '[data-toggle="collapse"]',
                buttonsAppendTo: '.panel-collapse',
                templates: {
                    buttons: function() {
                        var options = this.options;
                        return '<div class="panel-footer"><ul class="pager">' + '<li class="previous">' + '<a href="#' + this.id + '" data-wizard="back" role="button">' + options.buttonLabels.back + '</a>' + '</li>' + '<li class="next">' + '<a href="#' + this.id + '" data-wizard="next" role="button">' + options.buttonLabels.next + '</a>' + '<a href="#' + this.id + '" data-wizard="finish" role="button">' + options.buttonLabels.finish + '</a>' + '</li>' + '</ul></div>';
                    }
                },
                onBeforeShow: function(step) {
                    step.$pane.collapse('show');
                },
                onBeforeHide: function(step) {
                    step.$pane.collapse('hide');
                },
                onFinish: function() {
                    alert('finish');
                }
            });
        })();
        
    $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
    $('#mainTable2').editableTableWidget().numericInputExample().find('td:first').focus();
    $("#insert-button-expense2").click(function(){
        var td =  '<tr >'+
                    '<td></td>'+
                    '<td></td>'+                
                    '<td></td>'+
                    '<th class="total">0</th>'+
                    '<td class="text-center"><i class="fa fa-times remove-time"></i></td>'+
                '</tr>';
        $(".exp-row").after(td);
        $('#mainTable2').editableTableWidget().numericInputExample().find('td:first').focus();

    });
    $("#insert-button-income").click(function(){
        var td =  '<tr >'+
                    '<td></td>'+
                    '<td></td>'+                
                    '<td></td>'+
                    '<th class="total">0</th>'+
                    '<td class="text-center"><i class="fa fa-times remove-time"></i></td>'+
                '</tr>';
        $(".rev-row").after(td);
        $('#mainTable2').editableTableWidget().numericInputExample().find('td:first').focus();
    });
    // $('#editable-datatable').DataTable();
    // $("button .wizard-next").click(function(){
    //      $("#datepicker-autoclose").datepicker('hide');
    // });
    $("input[name='optionsRadios2']").change(function(){
      console.log("OPtioNS");
      console.log($(this).val());
      if($(this).val() == "option1"){
        $(".exp").css("display","");
      }else{
        $(".exp").css("display","none");
      }
      
    });
    
</script>

{%endblock%}