{% extends "../template/Org/activityChecking.html" %}


{%block styles%}
	<link href="../css/custom.css" rel="stylesheet">
{%endblock%}

{%block header%}
	{%include "../section/header.html"%}
{%endblock%}

{%block sidebar%}
	{%include "../section/sidebar/cso-aps.html"%}
{%endblock%}


{%block content%}
<div id="doc" class="row white-box">
    <div class="col-md-4 col-xs-12">
        <div class="white-box">
            <div class="text-center"> <h1>{{projectProposal.strategies}}</h1> </div>
            <p class="text-center">{{projectProposal.orgname}}</p>
            <div class="user-btm-box">
                <!-- .row -->
               
                <div class="row text-center ">
                    <div class="col-md-6 b-r"><strong>Type</strong>
                        <p>{{projectProposal.type}}</p>
                    </div>
                    <div class="col-md-6"><strong>Nature</strong>
                        <p>{{projectProposal.nature}}</p>
                    </div>
                </div>
                <!-- /.row -->
                <hr>
                <!-- .row -->
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r"><strong>Venue</strong>
                        <p>{{projectProposal.venue}}</p>
                    </div>
                    <div class="col-md-6"><strong>ENMP / ENP</strong>
                        <p>{{projectProposal.enmp}}/ {{projectProposal.enp}}</p>
                    </div>
                </div>
                <!-- /.row -->
                <hr>
                <!-- .row -->
                <div class="row text-center m-t-10">
                    <div class="col-md-12">
                        <p><strong>Project Heads</strong></p>
                        {% for head in projectHeads %}
                            <p>{{head.name}}</p>
                            <p>{{head.contactnumber}}</p>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div class="row button-box" style="position: absolute;bottom: 0">
                     
                    <div class="col-lg-4 col-sm-4 col-xs-12 ">
                        <button id="reject" class="btn btn-block btn-danger">Reject</button>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-12 ">
                        <button id="defer" class="btn btn-block  btn-warning">Pend</button>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-12 ">
                        <button id="approve" class="btn btn-block   btn-success">Approve</button>
                    </div>
                    
                </div>
                    
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12" style="border-left: rgba(120,130,140,13) solid 1px">
        <div class="white-box"  style="padding: 25px 0px 0px 0px">
            
            <div class="sttabs tabs-style-linebox ">
                <nav>
                    <ul>
                        <li><a href="#section-linebox-1"><span>Details</span></a></li>
                        <li><a href="#section-linebox-2"><span>Schedule</span></a></li>
                        <li><a href="#section-linebox-3"><span>Funding</span></a></li>
                        
                        <li><a href="#section-linebox-5"><span>Attachment</span></a></li>
                        
                    </ul>
                </nav>
                <div class="content-wrap text-center">
                    <section id="section-linebox-1">
                      
                        <div class="white-box text-left">

                            <h4 class="text-left">I. Objectives</h4>
                            <hr>
                            <ul class="  text-left">

                            

                                {% for objective in projectProposal.objectives %}


                                    <li>{{objective}}</li>
                                {% endfor %}
                                
                            </ul>
                            <!-- <div class="row">
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Full Name</strong>
                                    <br>
                                    <p class="text-muted">Johnathan Deo</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Mobile</strong>
                                    <br>
                                    <p class="text-muted">(123) 456 7890</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
                                    <br>
                                    <p class="text-muted">johnathan@admin.com</p>
                                </div>
                                <div class="col-md-3 col-xs-6"> <strong>Location</strong>
                                    <br>
                                    <p class="text-muted">London</p>
                                </div>
                            </div> -->
                            <h4 class="m-t-30 text-left">II. Brief Context</h4>
                            <hr>



                            <p class="m-t-30">
                            {{projectProposal.context}}
                            </p>
                            
                            
                        </div>
                    </section>
                    <section id="section-linebox-2 text-left">
                        <div class="white-box">
                             <h4 class="m-t-30 text-left">III. Program Design</h4>
                            <hr>
                            <div class="text-center">
                                <h3>January 1, 2017</h3>
                            </div>
                            <table class="table  text-left table-striped">
                                <thead>
                                    <th>Time </th>
                                    
                                    <th>Activity</th>
                                    <th>Description</th>
                                    <th>Person-In-Charge</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td >8:00AM-9:00AM</td>
                                        
                                        <td >Call time</td>
                                        <td >Students are called to assemble and board the bus.</td>
                                        <td >Juan De La Cruz</td>
                                    </tr>
                                    <tr>
                                        <td >9:00AM-11:00AM</td>
                                        
                                        <td >Travel time</td>
                                        <td >Travel time from DLSU to STC</td>
                                        <td >Juan De La Cruz</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>
                            <div class="text-center">
                                <h3>January 2, 2017</h3>
                            </div>
                            <table class="table  text-left table-striped">
                                <thead>
                                    <th>Time </th>
                                    
                                    <th>Activity</th>
                                    <th>Description</th>
                                    <th>Person-In-Charge</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td >8:00AM-9:00AM</td>
                                        
                                        <td >Call time</td>
                                        <td >Students are called to assemble and board the bus.</td>
                                        <td >Juan De La Cruz</td>
                                    </tr>
                                    <tr>
                                        <td >9:00AM-11:00AM</td>
                                        
                                        <td >Travel time</td>
                                        <td >Travel time from DLSU to STC</td>
                                        <td >Juan De La Cruz</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>
                        </div>
                    </section>
                    
                    <section id="section-linebox-3">
                        <div class="white-box">
                            <h4 class="text-left">IV. Source of Funds</h4>
                            <hr>
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6 col-xs-12 text-left">
                                        <strong>Organization funds:</strong>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        1000000
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-xs-12 text-left">
                                        <strong>Participants Fee:</strong>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        1000000
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-xs-12 text-left">
                                        <strong>Others:</strong>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        1000000
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-xs-12 text-right">
                                        <strong>Total:</strong>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        1000000
                                    </div>
                                </div>
                                
                            </div>
                            <br/>
                            <h4 class="text-left">V. Organizational Funds</h4>
                            <hr>
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6 col-xs-12 text-left">
                                        <strong>Operational Funds:</strong>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        1000000
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-xs-12 text-left">
                                        <strong>Depository Funds:</strong>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        1000000
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-xs-12 text-left">
                                        <strong>Others:</strong>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        1000000
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-xs-12 text-right">
                                        <strong>Total Cash for Disbursement:</strong>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        1000000
                                    </div>
                                </div>
                                <div> &nbsp</div>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-xs-12 text-left">
                                        <strong>Total Projected Expenses:</strong>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        1000000
                                    </div>
                                </div>
                                 <div class="col-md-12">
                                    <div class="col-md-6 col-xs-12 text-right">
                                        <strong>Remaining Balance:</strong>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        1000000
                                    </div>
                                </div>

                                
                            </div>
                            <br/>
                            <h4 class="text-left">VI. Revenue and Expense Table</h4>
                            <hr>
                            <br/>
                                                            
                            <table class="table bg">
                                <thead>
                                   
                                    <tr">
                                        <th class="text-center"  style="border-top: white solid 0px "  >Material</th>
                                        <th class="text-center" style="border-top: white solid 0px ">Quantity</th>
                                        <th class="text-center" style="border-top: white solid 0px ">Selling Price</th>
                                        <th class="text-right" style="border-top: white solid 0px ">&nbsp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Paper
                                        </td>
                                        <td>
                                            100 pcs.
                                        </td>
                                        <td>
                                            300
                                        </td>
                                        <td  class="text-right">
                                            300
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Paper
                                        </td>
                                        <td>
                                            100 pcs.
                                        </td>
                                        <td>
                                            300
                                        </td>
                                        <td  class="text-right">
                                            300
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Paper
                                        </td>
                                        <td>
                                            100 pcs.
                                        </td>
                                        <td>
                                            300
                                        </td>
                                        <td  class="text-right">
                                            300
                                        </td>
                                    </tr>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-right text-success" colspan="3"><strong>Total Revenue</strong></td>
                                        <td  class="text-right">300</td>
                                    </tr>
                                </tfoot>
                            </table>
                            <br/>
                            <table class="table bg">
                                <thead>
                                   
                                    <tr">
                                        <th class="text-center"  style="border-top: white solid 0px "  >Material</th>
                                        <th class="text-center" style="border-top: white solid 0px ">Quantity</th>
                                        <th class="text-center" style="border-top: white solid 0px ">Unit Cost</th>
                                        <th class="text-right" style="border-top: white solid 0px ">&nbsp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Paper
                                        </td>
                                        <td>
                                            100 pcs.
                                        </td>
                                        <td>
                                            300
                                        </td>
                                        <td  class="text-right">
                                            300
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Paper
                                        </td>
                                        <td>
                                            100 pcs.
                                        </td>
                                        <td>
                                            300
                                        </td>
                                        <td  class="text-right">
                                            300
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Paper
                                        </td>
                                        <td>
                                            100 pcs.
                                        </td>
                                        <td>
                                            300
                                        </td>
                                        <td  class="text-right">
                                            300
                                        </td>
                                    </tr>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-right text-danger" colspan="3"><strong>Total Expense</strong></td>
                                        <td  class="text-right">300</td>
                                    </tr>
                                     <tr>
                                        <td class="text-right text-success" colspan="3"  style="border-top: white solid 0px "><strong>Total Income </strong></td>
                                        <td  class="text-right" style="border-top: white solid 0px ">0</td>
                                    </tr>
                                </tfoot>
                            </table>
                            <br/>
                           


                        </div>
                    </section>
                    
                    <section id="section-linebox-5" style="display: block;visibility:hidden;">
                     <h4 class="text-left">VII. Attachments</h4>
                            <hr>
                        <div class="white-box">

                            <h4 class="text-left">VRT</h4>
                            <hr>
                            <br/>
                            <div >
                                
                            </div>
                              <iframe src = "/ViewerJS/#../document/ch1.odp"  width='400' height='300' allowfullscreen webkitallowfullscreen></iframe>
                          
                        </div>
                         <div class="white-box"  >
                            <h4 class="text-left">Cash Disbursement</h4>
                            <hr>
                            <br/>
                            <iframe src = "/ViewerJS/#../document/ch1.odp"  width='400' height='300' allowfullscreen webkitallowfullscreen></iframe>
                        </div>
                    </section>
                    
                </div>
                
                <!-- /content -->
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block scripts%}
    {%include "../section/ajax/ajaxCSRF.html"%}



    <script type="text/javascript">
        $('#section-linebox-5').css('visibility',"hidden");
        $('#section-linebox-5').css('height',0);
        $('#section-linebox-5').css('width',0);
        $(".sttabs li").click(function(){
            var page = $(this).find("a").attr("href");
            console.log(page);
            page = page.replace("#section-linebox-","");
            console.log(page);
            if(page == "5"){
                console.log("REFRESH");

                $('#section-linebox-5').css('visibility',"visible");
                $('#section-linebox-5').css('height',"100%");
                $('#section-linebox-5').css('width',"100%");                
            }else{
                $('#section-linebox-5').css('visibility',"hidden");
                $('#section-linebox-5').css('height',0);
                $('#section-linebox-5').css('width',0);
            }
        });
        
        $("#approve").click(function(){

        swal({   
            title: "Are you sure?",                                           
            showCancelButton: true,   
            reverseButtons:true,
            confirmButtonColor: "#00C292",   
            confirmButtonText: "Yes",   
            cancelButtonText: "No", 
            focusConfirm:false,
            focusCancel:false,
            showLoaderOnConfirm: true,
            preConfirm: function (data) {
                console.log(data);
                console.log("DATA");
                return new Promise(function (resolve, reject) {
                  setTimeout(function() {
                    if (data === 'taken@example.com') {
                      reject('This email is already taken.')
                    } else {
                      resolve()
                    }
                  }, 2000)
                })
            }
             
        }).then(function(data){
            console.log(data);
            console.log("ASD");
            $("html, body").animate({ scrollTop: 0 },function(){
                $('#doc').removeClass("bounceInRight animated").addClass("bounceInRight   animated").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
                    $(this).removeClass("bounceInRight animated");
                });    
            });
            
        });
    });
    $("#defer").click(function(){
        var question = '<div class="row">'+
                            '<div class="col-md-12 text-left m-b-20">'+
                                '<br/>Select the sections that should be change, then explain why.<br/>'+
                            '</div>'+
                            '<div class="form-group col-md-12">'+
                                '<label class="col-md-12 text-left"><strong>Sections to be Edited:</strong></label>'+
                                '<div class="col-md-12">'+
                                    '<select class="col-md-12" multiple=""s id="select-sec">'+
                                        
                                        '<option value="1">I. Objectives</option>'+
                                        '<option value="2">II. Brief Context</option>'+
                                        '<option value="3">III. Program Design</option>'+
                                        '<option value="4">IV. Source of Funds</option>'+
                                        '<option value="5">V. Organizational Funds</option>'+
                                        '<option value="6">VI. Revenue and Expense Table</option>'+
                                        '<option value="7">VII. Attachements</option>'+
                                    '</select>'+
                                '</div>'+
                                
                            '</div>'+
                            '<div class="form-group col-md-12">'+
                                '<label class="col-md-12 text-left"><strong>Explanation</strong></label>'+
                                '<div class="col-md-12">'+
                                    '<textarea class="form-control" rows="5"></textarea>'+
                                '</div>'+
                            '</div>'+
                        '</div>';
        
        
        swal({   
            title: "Defer",   
            text:"Select the sections that should be change, then explain why.",
            html:question,
            focusConfirm:false,
            focusCancel:false,
            showLoaderOnConfirm: true,
            reverseButtons:true,
            allowOutsideClick: false,
            preConfirm: function (data) {
                console.log($("#select-sec").val());
                console.log("DATA");
                return new Promise(function (resolve, reject) {
                  setTimeout(function() {
                    if (data === 'taken@example.com') {
                      reject('This email is already taken.')
                    } else {
                      resolve()
                    }
                  }, 2000)
                })
            },
            onOpen:function(ele){
                $(ele).find("select").select2();
                console.log("INIT SELECT");
            },
           
            showCancelButton: true,   
            confirmButtonColor: "#FEC107",   
            confirmButtonText: "Defer",   
            cancelButtonText: "Cancel",   
             
        }).then(function(data){
            console.log(data);
            console.log("ASD");
            $("html, body").animate({ scrollTop: 0 },function(){
                $('#doc').removeClass("bounceOutUp animated").addClass("bounceOutUp   animated").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
                    $(this).removeClass("bounceOutUp animated");
                });    
            });
            
            
        });
    });
    
    $("#reject").click(function(){
        var question = '<div class="row">'+
                            '<div class="col-md-12 text-left  m-b-20" style="padding-left:16px">'+
                                '<br/>State the reason for rejection.<br/>'+
                            '</div>'+
                            
                            '<div class="form-group col-md-12">'+
                                
                                '<div class="col-md-12">'+
                                    '<textarea class="form-control" rows="5"></textarea>'+
                                '</div>'+
                            '</div>'+
                        '</div>';
        swal({   
            title: "Reject",   
            
            html:question,
            showLoaderOnConfirm: true,
            focusConfirm:false,
            focusCancel:false,
            reverseButtons:true,
            allowOutsideClick: false,
            showCancelButton: true,   
            confirmButtonColor: "#FB9678",   
            confirmButtonText: "Submit",   
            cancelButtonText: "Cancel",
            preConfirm: function (email) {
                return new Promise(function (resolve, reject) {
                  setTimeout(function() {
                    if (email === 'taken@example.com') {
                      reject('This email is already taken.')
                    } else {
                      resolve()
                    }
                  }, 2000)
                })
            } 
           
        }).then(function(data){
            console.log(data);
            console.log("REJECT");
            $("html, body").animate({ scrollTop: 0 },function(){
                $('#doc').removeClass("rotateOutUpLeft animated").addClass("rotateOutUpLeft   animated").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
                    $(this).removeClass("rotateOutUpLeft animated");
                });
            });
            

        });

    });
    </script>
{%endblock%}