{% extends "../template/APS/Home.html" %}


{%block styles%}
	<link href="css/custom.css" rel="stylesheet">
{%endblock%}

{%block header%}
	{%include "../section/header.html"%}
{%endblock%}

{%block sidebar%}
	{%include "../section/sidebar/cso-aps.html"%}
{%endblock%}


{%block content%}
<div class="row">
    <div class="col-md-3 col-xs-12 col-sm-6">
        <div class="white-box text-center bg-inverse">
            <h1 class=" text-white counter">10</h1>
            <p class="text-white">Projects</p>
        </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6">
        <div class="white-box text-center bg-danger">
            <h1 class="text-white counter">2</h1>
            <p class="text-white">Denied</p>
        </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6">
        <div class="white-box text-center bg-warning">
            <h1 class="counter text-white">3</h1>
            <p class=" text-white">Pending</p>
        </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6">
        <div class="white-box text-center bg-success">
            <h1 class="text-white counter">5</h1>
            <p class="text-white">Success</p>
        </div>
    </div>
</div>
<!-- /row -->
<!--row -->
<div class="row">
    <div class="col-md-12 col-lg-8 col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Project
              <div class="col-md-3 col-sm-3 col-xs-3 pull-right">
                <select class="form-control pull-right row b-none">
                  <option>All</option>
                  <option>Denied</option>
                  <option>Pending</option>
                  <option>Success</option>
                  
                </select>
              </div>
            </h3>
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>NAME</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="txt-oflo">Elite admin</td>                                          
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="txt-oflo">Real Homes WP Theme</td>                                            
                        </tr>
                        <tr>
                            <td>3</td>
                            <td class="txt-oflo">Medical Pro WP Theme</td>
                            
                        </tr>
                        <tr>
                            <td>4</td>
                            <td class="txt-oflo">Hosting press html</td>
                           
                        </tr>
                        <tr>
                            <td>5</td>
                            <td class="txt-oflo">Helping Hands WP Theme</td>
                            
                        </tr>
                        <tr>
                            <td>6</td>
                            <td class="txt-oflo">Digital Agency PSD</td>
                            
                        </tr>
                        <tr>
                            <td>7</td>
                            <td class="txt-oflo">Helping Hands WP Theme</td>
                           
                        </tr>
                    </tbody>
                </table> 
                </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4 col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Recent Comments</h3>
            <div class="comment-center" style="height: 420px;overflow-y: auto">
                <!-- PENDING -->
                <div class="comment-body pending">
                    <div class="user-img"> <img src="../plugins/images/users/pawandeep.jpg" alt="user" class="img-circle"></div>
                    <div class="mail-contnet">
                        <h5>Pavan kumar</h5> <span class="mail-desc">Donec ac condimentum massa. Etiam pellentesque pretium lacus. Phasellus ultricies dictum suscipit. Aenean commodo dui pellentesque molestie feugiat.</span> <span class="label label-rouded label-info">PENDING</span><a href="javacript:void(0)" class="action"></a><span class="time pull-right">April 14, 2017</span></div>
                </div>  
                <!-- DENIED -->
                <div class="comment-body denied">
                    <div class="user-img"> <img src="../plugins/images/users/pawandeep.jpg" alt="user" class="img-circle"></div>
                    <div class="mail-contnet">
                        <h5>Pavan kumar</h5> <span class="mail-desc">Donec ac condimentum massa. Etiam pellentesque pretium lacus. Phasellus ultricies dictum suscipit. Aenean commodo dui pellentesque molestie feugiat.</span> <span class="label label-rouded label-info">PENDING</span><a href="javacript:void(0)" class="action"></a><span class="time pull-right">April 14, 2017</span></div>
                </div>        

            </div>
        </div>
    </div>
    
</div>
{%endblock%}

{%block scripts%}

{%endblock%}