{% extends "../template/APS/AssociateOrg.html" %}

{%block meta%}
    <meta data-name="GOSM" data-id="{{GOSMID}}" />
{%endblock%}

{%block styles%}
    <link href="/css/ViewOrgGOSM.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
{%endblock%}

{%block header%}
	{%include "../section/header.html"%}
{%endblock%}

{%block sidebar%}
	{%include "../section/sidebar/cso-aps.html"%}
{%endblock%}
{%block pre_js%}
    <script type="text/javascript" src="/js/APS/ORGGOSM.js" defer="defer"></script>
{%endblock%}
{%block content%}
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">GOSM of {{organizationName}}</h3>

            <div class="table-responsive">

                <table id="myTable" class="table table-hover" role="grid" aria-describedby="myTable_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 139px;">Activity Name</th>
                            <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 139px;">Activity Date</th>
                        </tr>
                    </thead>
                    <tbody>
						{% set cls = cycler("even", "odd") %}
                        {% for activity in GOSMActivities %}
                            <tr class="activity_row {{ cls.next() }}" data-activity-id="{{activity.id}}" role="row" data-toggle="modal" data-target="#sampleModal">
	                            <td>{{activity.strategies}}</td><!-- Activity name-->
	                            <td>{{activity.targetdatestart}}</td><!-- Activity date -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="text-center">
                    <h4>Actions</h4>
                    <button id="btn_approve" class="btnGosm btn btn-success btn-rounded sa-approve" alt="alert">Approve</button>
                    <button id="btn_pend" class="btn btn-warning btn-rounded sa-pend btnGosm" alt="alert">Pend</button>
                    <button id="btn_deny" class="btn btn-danger btn-rounded sa-deny btnGosm" alt="alert">Deny</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">

    </div>
    <div class="col-sm-12">

    </div>
</div>

<!--modals-->
<div class="modal fade bs-example-modal-lg" id="sampleModal" tabindex="-1" role="dialog" aria-labelledby="sampleModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="">Activity Name</h4>
            </div>
            <div class="modal-body">
                <section>
                    <div class="sttabs tabs-style-bar">
                        <nav>
                            <ul>
                                <li><a href="#section-bar-1" ><span>1. Activity Details</span></a></li>
                                <li><a href="#section-bar-2" ><span>2. Add Comment</span></a></li>
                            </ul>
                        </nav>
                        <div class="content-wrap">
                            <section id="section-bar-1">
                                <h3>I. Activity Details</h3>
                                <div class="table-responsive">
                                    <table id="modal_table_activity" class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    Type of Activity:
                                                </th>
                                                <td colspan="2">
                                                    <span id="modal_type"></span>
                                                </td>
                                                <th></th>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Nature of Activity:
                                                </th>
                                                <td colspan="2">
                                                    <span id="modal_nature"></span>
                                                </td>
                                                <th></th><td colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <th>Date:</th>
                                                <td colspan="2"><span id="modal_date"></span></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="modal_head_row">
                                                <th>Project Heads:</th>
                                                <td colspan="6">Juan Dela Cruz - 09478569874</td>
                                            </tr>
                                            <tr class="modal_head_row">
                                                <th></th>
                                                <td colspan="6">Pedro Aquino - 09478532147</td>
                                            </tr>
                                            <tr>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <section id="section-bar-2">
                                <div class="form-group">
                                    <label class="col-md-12">Write a comment for revision</label>
                                    <div class="col-md-12 text-center">
                                        <textarea class="form-control" rows="5"></textarea> <br>
                                        <button class ="btn btn-info" type="" data-dismiss="modal"> Add Comment</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <!-- /content -->
                    </div>
                    <!-- /tabs -->
                </section>
            </div>
            <div class="modal-footer">
                 <!--<button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>-->
             </div>
        </div>
         <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--/modals-->
{%endblock%}

{%block scripts%}

{%endblock%}
