                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                        <ul class="nav" id="side-menu">
                            <li> <a href="#" class="waves-effect"><i class="zmdi zmdi-view-dashboard zmdi-hc-fw" ></i><span class="hide-menu"></span>
                                    Dashboard <!-- uncomment for notif<span class="label label-rouded label-custom pull-right">4</span></span> -->
                                </a>
                            </li>
                            <li{%if gosm%} class="active"{%endif%}> <a href="/gosm" class="waves-effect {%if gosm%}active{%endif%}"><i class="zmdi zmdi-view-dashboard zmdi-hc-fw fa-fw" ></i> <span class="hide-menu">GOSM <!--<span class="label label-rouded label-custom pull-right">4</span></span> --></a>
                            
                            </li>
                        
                            <li> <a href="#" class="waves-effect"><i class="zmdi zmdi-view-dashboard zmdi-hc-fw fa-fw" ></i> <span class="hide-menu"> <span class="fa arrow"></span>Activities <!--<span class="label label-rouded label-custom pull-right">4</span></span> --></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="#">View All Activities</a> </li>
                                    <li> <a href="#"></a> </li>
                                </ul>
                            </li>
                            <li> <a href="#" class="waves-effect"><i class="zmdi zmdi-view-dashboard zmdi-hc-fw fa-fw" ></i> <span class="hide-menu"> <span class="fa arrow"></span>Documents to Check <!--<span class="label label-rouded label-custom pull-right">4</span></span> --></a>
                                <ul class="nav nav-second-level">
                                    <li> <a href="#">View All Documents</a> </li>
                                    <li> <a href="#"></a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>