{% extends '../template/CSO_master.html' %}
{% import '../template/tags_macro.html' as tag %}

{%block page_title%}CSO - Evaluate Activity{%-endblock%}


{%block meta%}
    {{super()}}
    <meta data-name="csrf" data-token="{{csrfToken}}" />
{%endblock%}

{%block style%}
	{{super()}}
	<!-- Bootstrap Core CSS -->
	{{tag.style('/plugins/bower_components/jqueryui/jquery-ui.min.css')}}
   	<!-- Bootstrap Core CSS -->
   	{{tag.style('/bootstrap/dist/css/bootstrap.min.css')}}
   	{{tag.style('/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css')}}

   	{{tag.style('/plugins/bower_components/calendar/dist/fullcalendar.css')}}
   <!-- Menu CSS -->
   {{tag.style('/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css')}}
   {{tag.style('/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css')}}
   {{tag.style('/plugins/bower_components/jquery-wizard-master/css/wizard.css')}}
   {{tag.style('/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.css')}}
   {{tag.style('/plugins/bower_components/lobipanel/dist/css/lobipanel.min.css')}}
   {{tag.style('/plugins/bower_components/custom-select/custom-select.css')}}
   {{tag.style('/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css')}}
      {{tag.style('/plugins/bower_components/timepicker/bootstrap-timepicker.min.css')}}

   {{tag.style('/plugins/bower_components/jquery-datatables-editable/datatables.css')}}
   <!-- Animation CSS -->
   {{tag.style('/css/animate.css')}}
   {{tag.style('/css/style.css')}}
   {{tag.style('/css/custom.css')}}
    <!-- color CSS -->
    {{tag.style('/css/colors/default.css')}}
    
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<style type="text/css">
        .td-title{
            white-space: nowrap;
            max-width:0;overflow: hidden;
            text-overflow: ellipsis;
        }
        .close-day{
            color:#fec107;
        }
        .close-day:hover{
            color:red;
        }
        #add-tab{
            border-color: white white #ddd white
        }
        #add-tab:hover{
            border-top-color: #ddd;
            border-right-color: #ddd;
            border-left-color: #ddd;
        }
        .rem b ove-time{
          color:  #fec107;
        }
        .remove-time:hover{
          color: #fb9678;  
        }
        .clockpicker-popover {
    z-index: 999999;
}
        td{
            text-align: center
            
            border: 1px solid black;
          /*     display: block;*/
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
        }

        th.fc-today{
        	background: #9675CE !important;
        	color: black !important


        }
       /* .wizard-content{
          border-color: white!important;
        }*/
    </style>
{%endblock%}
	
{%block defer_script%}
	{{super()}}

	{{tag.javascript('/plugins/bower_components/jquery/dist/jquery.min.js')}}
    {{tag.javascript('/plugins/bower_components/jqueryui/jquery-ui.min.js')}}
	<!-- Bootstrap Core JavaScript -->
	{{tag.javascript('/bootstrap/dist/js/tether.min.js')}}
	{{tag.javascript('/bootstrap/dist/js/bootstrap.min.js')}}
	{{tag.javascript('/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js')}}
	<!-- Menu Plugin JavaScript -->
	{{tag.javascript('/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js')}}
	<!--slimscroll JavaScript -->
	{{tag.javascript('/js/jquery.slimscroll.js')}}
	<!--Wave Effects -->
	{{tag.javascript('/js/waves.js')}}
	{{tag.javascript('/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js')}}
	{{tag.javascript('/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js')}}
	{{tag.javascript('/plugins/bower_components/jquery-wizard-master/dist/jquery-wizard.min.js')}}
	<!-- Custom Theme JavaScript -->
	{{tag.javascript('/js/custom.min.js')}}
	{{tag.javascript('/js/jasny-bootstrap.js')}}
	<!--Style Switcher -->
	{{tag.javascript('/plugins/bower_components/custom-select/custom-select.min.js')}}
	{{tag.javascript('/plugins/bower_components/styleswitcher/jQuery.style.switcher.js')}}
	<!-- Custom Theme JavaScript -->
	{{tag.javascript('/plugins/bower_components/bootstrap-table/dist/bootstrap-table.min.js')}}
	{{tag.javascript('/plugins/bower_components/bootstrap-table/dist/bootstrap-table.ints.js')}}
	{{tag.javascript('/plugins/bower_components/lobipanel/dist/js/lobipanel.min.js')}}
	{{tag.javascript('/js/cbpFWTabs.js')}}
	{{tag.javascript('/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.js')}}
	{{tag.javascript('/plugins/bower_components/jquery-wizard-master/dist/jquery-wizard.min.js')}}
	{{tag.javascript('/plugins/bower_components/jquery-datatables-editable/jquery.dataTables.js')}}
    {{tag.javascript('/plugins/bower_components/datatables/dataTables.bootstrap.js')}}
    {{tag.javascript('/plugins/bower_components/tiny-editable/mindmup-editabletable.js')}}
    {{tag.javascript('/plugins/bower_components/tiny-editable/numeric-input-example.js')}}


	{{tag.javascript('/js/system/AJAX_CSRF.js')}}
	{{tag.javascript('/plugins/bower_components/moment/moment.js')}}
	{{tag.javascript('/plugins/bower_components/calendar/dist/fullcalendar.min.js')}}
  <!--  -->
	<script type="text/javascript">
    	var gid = {{gosmactivity.gosmactivity}};
    	var id = {{projectProposal.id}};
    	var status = {{status}};
    </script>

     <script type="text/javascript">
       $(document).ready(function(){


          $('#calendar').fullCalendar({
                height:500,
                defaultView: 'agendaWeek',
                defaultDate: '2018-02-07',
		      	editable: true,
		      	selectable: true,
		      	 week:     'week',
                events:[
                     

                ],
                customButtons: {
			        add_event: {
			            text: 'Add',
			            click: function() {
			               $('#createEventModal').modal('show');

			            }
			        }
			    },
			    header: {
			        right: 'list agendaWeek month  prev,next',
			        center: 'title',
			        left: 'add_event'
			    },
                 
            });
          $("select").select2();
			$('#createEventModal').modal({ show: false})
			$('.clockpicker').clockpicker({
		        donetext: 'Done',
		    }).find('input').change(function() {
		        console.log(this.value);
		    });
			   



       })
        
    </script>
    
{%endblock%}

{%block content%}

<input type="hidden" name="_csrf" value="{{csrfToken}}">
<input type="hidden" name="status" value="{{status}}">


<div class="row" id="data-route" gid="{{gosmactivity.gosmactivity}}"  pid="{{projectProposal.id}}" status="{{status}}">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading"> Program Design</div>
				<div class="panel-wrapper collapse in" aria-expanded="true">
					<div class="panel-body">
						<div id="calendar"></div>
					</div>
				</div>
				<div class="panel-footer text-center">
					<button type="submit" id="submit-but" class="btn btn-success"> <i class="fa fa-save"></i>&nbsp;Save</button>
					<button type="button" id="cancel-but" class="btn btn-default">Cancel</button>			
				</div>
			</div>
		</div>
	</div>
</div>

<div id="createEventModal" class="modal fade">
    <div class="modal-dialog"  style="top: 150px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4>Add an Event</h4>
            </div>
            <div id="modalBody" class="modal-body">
               

                  

                  <div class="form-group">
                    <label class="form-control-label"> Date</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label">Start Time</label>
                    <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                        <input class="form-control" pe="text" > <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>

                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">End Time</label>
                    <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                        <input class="form-control" pe="text" > <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>

                    </div>
                  </div>
                <div class="form-group">
                    <label class="form-control-label">Event Name</label>
                    <input class="form-control" type="text" >
                </div>
                <div class="form-group">
                    <label class="form-control-label">Description</label>
                    <textarea class="form-control" type="text" rows="4"></textarea>
                </div>
                <div class="form-group ">
                <label class="form-control-label">Person Responsible</label>
                <select name="typeOfItem[]" id="sel0" class="form-control select2">
                  
                  {% for type in expenseTypes %}

                    {% if type.id == 3%}

                    {% else %}
                      
                      <option value="{{type.id}}" >{{type.name}}</option>

                    {% endif %}

                  {% endfor %}
                  
                </select>
                <div>
                  <span class="help-block" id="time-help"></span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button type="submit" class="btn btn-primary" id="submitButton">Add </button>
            </div>
        </div>
    </div>
</div>
{%endblock%}