{% extends "../template/CSO_master.html" %}
{% import '../template/tags_macro.html' as tag%}

{%block style%}
    {{super()}}

    <!-- Bootstrap Core CSS -->
    {{tag.style('/bootstrap/dist/css/bootstrap.min.css')}}
    {{tag.style('/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css')}}
    <!-- Menu CSS -->
    {{tag.style('/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css')}}
    {{tag.style('/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css')}}
    {{tag.style('/plugins/bower_components/jquery-wizard-master/css/wizard.css')}}

    {{tag.style('/plugins/bower_components/sweetalert/sweetalert.css')}}
    {{tag.style('/plugins/bower_components/lobipanel/dist/css/lobipanel.min.css')}}
    {{tag.style('/plugins/bower_components/custom-select/custom-select.css')}}
    {{tag.style('/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css')}}
    <!-- Animation CSS -->
    {{tag.style('/css/animate.css')}}
    <!-- Custom CSS -->
    {{tag.style('/css/style.css')}}
    {{tag.style('/plugins/bower_components/jqueryui/jquery-ui.min.css')}}
    <!-- color CSS you can use different color css from css/colors folder -->
    <!-- We have chosen the skin-blue (blue.css) for this starter
          page. However, you can choose any other skin from folder css / colors .
    -->

    {{tag.style('/css/colors/default.css')}}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{tag.style('/css/custom.css')}}
    <style type="text/css">
        .td-title{
            white-space: nowrap;
            max-width:0;overflow: hidden;
            text-overflow: ellipsis;
        }

    </style>
{%endblock%}

{%block defer_script%}
    {{super()}}
    <!-- jQuery -->
    {{- tag.javascript('/plugins/bower_components/jquery/dist/jquery.min.js', true)}}
    {{- tag.javascript('/plugins/bower_components/jqueryui/jquery-ui.min.js', true)}}
    <!-- Bootstrap Core JavaScript -->
    {{- tag.javascript('/bootstrap/dist/js/tether.min.js', true)}}
    {{- tag.javascript('/bootstrap/dist/js/bootstrap.min.js', true)}}
    {{- tag.javascript('/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js', true)}}
    <!-- Menu Plugin JavaScript -->
    {{- tag.javascript('/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js', true)}}
    <!--slimscroll JavaScript -->
    {{- tag.javascript('/js/jquery.slimscroll.js', true)}}
    <!--Wave Effects -->
    {{- tag.javascript('/plugins/bower_components/sweetalert/sweetalert.min.js', true)}}
    {{- tag.javascript('/plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js', true)}}
    {{- tag.javascript('/js/waves.js', true)}}
    {{- tag.javascript('/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js', true)}}
    {{- tag.javascript('/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js', true)}}
    {{- tag.javascript('/plugins/bower_components/jquery-wizard-master/dist/jquery-wizard.min.js', true)}}
    {{- tag.javascript('/js/custom.min.js', true)}}
    {{- tag.javascript('/js/cbpFWTabs.js', true)}}
    {{- tag.javascript('/js/jasny-bootstrap.js', true)}}
    <!--Style Switcher -->
    {{- tag.javascript('/plugins/bower_components/custom-select/custom-select.min.js', true)}}
    {{- tag.javascript('/plugins/bower_components/styleswitcher/jQuery.style.switcher.js', true)}}

    {{- tag.javascript('/plugins/bower_components/lobipanel/dist/js/lobipanel.min.js', true)}}
    {{- tag.javascript('/plugins/bower_components/toast-master/js/jquery.toast.js', true)}}
{%endblock%}
