{% extends "./template/APS/AssociateSubmission.html" %}


{%block styles%}
	<link href="css/custom.css" rel="stylesheet">
{%endblock%}

{%block header%}
	{%include "section/header.html"%}
{%endblock%}

{%block sidebar%}
	{%include "section/sidebar/cso-aps.html"%}
{%endblock%}


{%block content%}
<div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Activity Submissions</h3>
                            <p class="text-muted m-b-30">A table showing the list of activity submissions</p>
                            <div class="table-responsive">

                                <table id="myTable" class="table table-hover" role="grid" aria-describedby="myTable_info">
                                    <thead>
                                        <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 297px;">Activity Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 139px;">Date of Event</th>
                                        <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 139px;">Days until Late</th>
                                        <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 139px;">Organization Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 129px;">Actions</th>

                                    </thead>
                                    <tbody> 
                                    <tr role="row" class="odd" >
                                            <td class="sorting_1" data-toggle="modal" data-target ="#sampleModal">Unite: First General Assembly</td><!-- event name-->
                                            <td data-toggle="modal" data-target ="#sampleModal">January 1, 2017</td><!-- date of event-->
                                            <td data-toggle="modal" data-target ="#sampleModal">5</td><!-- days until late-->
                                            <td data-toggle="modal" data-target ="#sampleModal">La Salle Computer Society</td>

                                            <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">
                                                <button type="button" class="btn btn-success btn-circle waves-effect" alt="alert" id="sa-approve"><i class="fa fa-check"></i> </button>
                                                <button type="button" class="btn btn-warning btn-circle waves-effect" alt="alert" id="sa-pend"><i class="fa fa-pause"></i> </button>
                                                <button type="button" class="btn btn-danger btn-circle waves-effect" alt="alert" id="sa-deny"><i class="fa fa-times"></i> </button>
                                            </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        
                    </div>
                    <div class="col-sm-12">
                        
                    </div>
                </div>
{%endblock%}

{%block scripts%}

{%endblock%}