{% extends "../template/Finance/Transaction.html" %}


{%block styles%}
	<link href="css/custom.css" rel="stylesheet">
{%endblock%}

{%block header%}
	{%include "../section/header.html"%}
{%endblock%}

{%block sidebar%}
	{%include "../section/sidebar/cso-finance.html"%}
{%endblock%}

{%block content%}
<div class="row">
	<div class="col-md-12">
		<div class="white-box p-l-20 p-r-20">
			<h3 class="box-title m-b-0 text-center">Create a New Transaction</h3>
			<br/>
			<div class="row">
				<div class="col-md-6">
					<form class="floating-labels ">
						<div class="form-group m-b-40">
							<select class="form-control select2">
								<option selected="true" disabled="disabled">Select Transaction</option>
								<option value="VT">Vermont</option>
								<option value="VA">Virginia</option>
								<option value="WV">West Virginia</option>
								
							</select>
							<span class="highlight"></span> <span class="bar"></span>
							<label for="input6">Activity</label>
							<span class="help-block"><small>Select an activity from the list of approved activities.</small></span>
						</div>
					</form>
				</div>
				<div class="col-md-6">
					<form class="floating-labels ">
						<div class="form-group m-b-40">
							<select class="form-control select2" id ="transaction">
								<option selected="true" disabled="disabled" >Select</option>
								<option value="1">Cash Advance</option>
								<option value="2">Direct Payment (Pre-acts)</option>
								<option value="3">Direct Payment (Post-acts)</option>
								<option value="4">Reimbursement</option>
								<option value="5">Petty Cash Replenishment</option>
								<option value="6">Book Transfer</option>
								<option value="7">Liquidation(With deposit)</option>
								<option value="8">Liquidation(With reimbursement)</option>
								
							</select>
							<span class="highlight"></span> <span class="bar"></span>
							<label for="input6">Transaction</label>
							<span class="help-block"><small>Select the type of transaction you want to process.</small></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->
<!-- .row -->
<div class="row transactions" id="CA">
	<div class="col-sm-12">
		<div class="white-box">
			<h3 class="box-title m-b-0">Cash Advance</h3>
			<p class="text-muted m-b-30 font-13">Withdraw cash from the Depository Fund before the activity. It is to be used for projected expenses of the activity.</p>
			<div id="transactionWizard" class="wizard">
				<ul class="wizard-steps" role="tablist">
					<li class="active" role="tab">
						<h4><span><i class="ti-agenda"></i></span>1</h4>
					</li>
					<li role="tab">
						<h4><span><i class="ti-credit-card"></i>2</span></h4>
					</li>
					<li role="tab">
						<h4><span><i class="ti-check"></i></span>3</h4>
					</li>
					<li role="tab">
						<h4><span><i class="ti-check"></i></span>4</h4>
					</li>
					<li role="tab">
						<h4><span><i class="ti-check"></i></span>5</h4>
					</li>
				</ul>
				<form id="validation" class="form-horizontal" action="keep.php" method="post">
					<div class="wizard-content">
						<div class="wizard-pane active" role="tabpanel">
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-success">
										<div class="panel-heading">PAYMENT REQUISITION SLIP</div>
										<div class="panel-wrapper collapse in" aria-expanded="true">
											<div class="panel-body">
												<form class="form-horizontal" role="form">
													<div class="form-body">
														<h3 class="box-title">Account Information</h3>
														<hr class="m-t-0 m-b-40">
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label col-md-3">TO:</label>
																	<div class="col-md-9">
																		<p class="form-control-static"> ACCOUNTING OFFICE </p>
																	</div>
																</div>
															</div>
															<!--/span-->
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label col-md-3">FROM:</label>
																	<div class="col-md-9">
																		<p class="form-control-static">USER'S NAME</p>
																		<p class="form-control-static">USER'S number</p>
																	</div>
																</div>
															</div>
															<!--/span-->
														</div>
														<!--/row-->
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label col-md-3">LOCAL NO:</label>
																	<div class="col-md-9">
																		<p class="form-control-static"> 744 </p>
																	</div>
																</div>
															</div>
															<!--/span-->
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label col-md-3">THRU:</label>
																	<div class="col-md-9">
																		<p class="form-control-static">NAME OF SLIFE DIRECTOR</p>
																	</div>
																</div>
															</div>
															<!--/span-->
														</div>
														<!--/row-->
														<h3 class="box-title">Amount</h3>
														<hr class="m-t-0 m-b-40">
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label col-md-3">IN WORDS:</label>
																	<div class="col-md-9">
																		<p class="form-control-static font-light">TWO THOUSAND PESOS</p>
																	</div>
																</div>
															</div>
															<!--/span-->
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label col-md-3">IN FIGURES:</label>
																	<div class="col-md-9">
																		<p class="form-control-static">P 2,000.00</p>
																	</div>
																</div>
															</div>
															<!--/span-->
														</div>
														<!--/row-->
														<h3 class="box-title">Address</h3>
														<hr class="m-t-0 m-b-40">
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label col-md-3">PAYABLE TO:</label>
																	<div class="col-md-9">
																		<p class="form-control-static">USER'S NAME</p>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label col-md-3">CHARGE TO:</label>
																	<div class="col-md-9">
																		<p class="form-control-static"> ORG NAME </p>
																	</div>
																</div>
															</div>
															<!--/span-->
															<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label col-md-5">ACCOUNT NUMBER:</label>
																	<div class="col-md-7">
																		<p class="form-control-static"> ORG ACCOUNT NUMBER </p>
																	</div>
																</div>
															</div>
															<!--/span-->
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-3 control-label">Payment Requisition Slip Number</label>
								<div class="col-xs-5">
									<input type="text" class="form-control" name="prs" data-mask="999999"/>
									<span class="help-block"><small>Input the 6-digit code on the top right of your PRS form.</small></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-3 control-label">Reason</label>
								<div class="col-xs-5">
									<textarea type="text" class="form-control" name="reason" placeholder="Ex: To be used for the expenses in the Annual Recruitment Week 2016-2017"></textarea>
									<span class="help-block"><small>Type your reason for requesting the transaction.</small></span>
								</div>

							</div>
						</div>
						<div class="wizard-pane" role="tabpanel">
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-success">
										<div class="panel-heading">CASH ADVANCE MEMO</div>
										<div class="panel-wrapper collapse in" aria-expanded="true">
											<div class="panel-body">
												<form class="form-horizontal" role="form">
													<div class="form-body">
														<h3 class="box-title">SUMMARY OF EXPENSES TO BE INCURRED</h3>
														<hr class="m-t-0 m-b-40">
														<div class="table-responsive">
															<table class="table table-bordered">
																<thead>
																	<tr>
																		
																		<th>Particulars</th>
																		<th>Amount</th>
																		
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>ITEM FROM PPR EXPENSES</td>
																		<td>AMOUNT OF ITEM</td>
																	</tr>
																	<tr>
																		<td>ITEM FROM PPR EXPENSES</td>
																		<td>AMOUNT OF ITEM</td>
																	</tr>
																	<tr>
																		<td>TOTAL EXPENSES TO BE INCURRED</td>
																		<td id="totalAmount" value="2000">total AMOUNT OF ITEM</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--IF TOTAL EXPENSE >=2000 SHOW THIS DIV -->
							<div class="form-group" id="justification">
								<label class="col-xs-3 control-label">Justification</label>
								<div class="col-xs-5">
									<input type="text" class="form-control" name="justification" />
									<span class="help-block"><small>Write your justification for not using Direct Payment.</small></span>
								</div>
							</div>

						</div>
						<div class="wizard-pane" role="tabpanel">
							<div class="form-group">
								<label class="col-xs-3 control-label">INFORMAL QUOTATION</label>
								<div class="col-xs-5">
									<input type="password" class="form-control" name="password" /> </div>
								</div>
							</div>
							<div class="wizard-pane" role="tabpanel">
								<div class="form-group">
									<label class="col-xs-3 control-label">LIST OF PARTICIPANTS</label>
									<div class="col-xs-5">
										<input type="password" class="form-control" name="password" /> </div>
									</div>
								</div>
								<div class="wizard-pane" role="tabpanel">
									<div class="form-group">
										<label class="col-xs-3 control-label">MECHANICS OF COMPETITION</label>
										<div class="col-xs-5">
											<input type="password" class="form-control" name="password" /> </div>
										</div>
									</div>
								</div>
								
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
			<!-- .row -->
			<div class="row">
				<div class="col-md-12">
					<div class="white-box p-l-20 p-r-20">
						<br>
						<!-- Cash Advance Tabs-->
						<section class="hiddenTab m-t-40" >
							<div class="sttabs tabs-style-linebox">
								<nav>
									<ul>
										<li><a href="#section-linebox-5"><span>Payment Requisition Slip</span></a></li>
										<li><a href="#section-linebox-4"><span>Cash Advance Memo</span></a></li>
										<li><a href="#section-linebox-2"><span>Informal Quotation</span></a></li>
										<li><a href="#section-linebox-3"><span>Participants</span></a></li>
										<li><a href="#section-linebox-5"><span>Mechanics</span></a></li>
										
									</ul>
								</nav>
								<div class="content-wrap">
									<section id="section-linebox-1">
										<form class="form-material form-horizontal">
											<div class="form-group">

												<div class="col-md-6">
													<input class="form-control form-control-line"  type="text" data-mask="999999" placeholder="PRS number">
													<span class="help-block"><small>Input the number printed on the top right portion of your Payment Requisition Slip</small></span>
												</div>
											</div>
											<div class="form-group">
												<div class="col-md-12">
													<textarea class="form-control" rows="5" placeholder="Purpose"></textarea>
												</div>
												<span class="help-block"><small>Indicate your purpose for requesting the transaction.</small></span>
											</div>
										</form>
									</section>
									<section id="section-linebox-2">
										<h2>Tabbing 2</h2></section>
										<section id="section-linebox-3">
											<h2>Tabbing 3</h2></section>
											<section id="section-linebox-4">
												<h2>Tabbing 4</h2></section>
												<section id="section-linebox-5">
													<h2>Tabbing 5</h2></section>
												</div>
												<!-- /content -->
											</div>
											<!-- /tabs -->
										</section>
										<!-- /Cash Advance Tabs-->
										<!-- Direct Payment Preacts Tabs-->
										<section class="hiddenTab m-t-40" id="DPPre" >
											<div class="sttabs tabs-style-linebox">
												<nav>
													<ul>
														<li><a href="#section-linebox-5"><span>Airline</span></a></li>
														<li><a href="#section-linebox-4"><span>Schedule</span></a></li>
														<li><a href="#section-linebox-2"><span>Deals</span></a></li>
														<li><a href="#section-linebox-3"><span>Drinks</span></a></li>
														<li><a href="#section-linebox-5"><span>Settings</span></a></li>
													</ul>
												</nav>
												<div class="content-wrap text-center">
													<section id="section-linebox-1">
														<h3>Direct Payment with preacts</h3>
														<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
													</section>
													<section id="section-linebox-2">
														<h2>Tabbing 2</h2></section>
														<section id="section-linebox-3">
															<h2>Tabbing 3</h2></section>
															<section id="section-linebox-4">
																<h2>Tabbing 4</h2></section>
																<section id="section-linebox-5">
																	<h2>Tabbing 5</h2></section>
																</div>
																<!-- /content -->
															</div>
															<!-- /tabs -->
														</section>
														<!-- /Direct Payment Preacts Tabs-->
														<!-- Direct Payment Postacts Tabs-->
														<section class="hiddenTab m-t-40" id="DPPost" >
															<div class="sttabs tabs-style-linebox">
																<nav>
																	<ul>
																		<li><a href="#section-linebox-5"><span>Airline</span></a></li>
																		<li><a href="#section-linebox-4"><span>Schedule</span></a></li>
																		<li><a href="#section-linebox-2"><span>Deals</span></a></li>
																		<li><a href="#section-linebox-3"><span>Drinks</span></a></li>
																		<li><a href="#section-linebox-5"><span>Settings</span></a></li>
																	</ul>
																</nav>
																<div class="content-wrap text-center">
																	<section id="section-linebox-1">
																		<h3>Direct Payment with Postacts</h3>
																		<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
																	</section>
																	<section id="section-linebox-2">
																		<h2>Tabbing 2</h2></section>
																		<section id="section-linebox-3">
																			<h2>Tabbing 3</h2></section>
																			<section id="section-linebox-4">
																				<h2>Tabbing 4</h2></section>
																				<section id="section-linebox-5">
																					<h2>Tabbing 5</h2></section>
																				</div>
																				<!-- /content -->
																			</div>
																			<!-- /tabs -->
																		</section>
																		<!-- /Direct Payment Postacts Tabs-->
																		<!-- Reimbursement Tabs-->
																		<section class="hiddenTab m-t-40" id="RB" >
																			<div class="sttabs tabs-style-linebox">
																				<nav>
																					<ul>
																						<li><a href="#section-linebox-5"><span>Airline</span></a></li>
																						<li><a href="#section-linebox-4"><span>Schedule</span></a></li>
																						<li><a href="#section-linebox-2"><span>Deals</span></a></li>
																						<li><a href="#section-linebox-3"><span>Drinks</span></a></li>
																						<li><a href="#section-linebox-5"><span>Settings</span></a></li>
																					</ul>
																				</nav>
																				<div class="content-wrap text-center">
																					<section id="section-linebox-1">
																						<h3>Reimbursement</h3>
																						<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
																					</section>
																					<section id="section-linebox-2">
																						<h2>Tabbing 2</h2></section>
																						<section id="section-linebox-3">
																							<h2>Tabbing 3</h2></section>
																							<section id="section-linebox-4">
																								<h2>Tabbing 4</h2></section>
																								<section id="section-linebox-5">
																									<h2>Tabbing 5</h2></section>
																								</div>
																								<!-- /content -->
																							</div>
																							<!-- /tabs -->
																						</section>
																						<!-- /Reimbursement Tabs-->
																						<!-- Petty Cash Replenishment Tabs-->
																						<section class="hiddenTab m-t-40" id="PCR" >
																							<div class="sttabs tabs-style-linebox">
																								<nav>
																									<ul>
																										<li><a href="#section-linebox-5"><span>Airline</span></a></li>
																										<li><a href="#section-linebox-4"><span>Schedule</span></a></li>
																										<li><a href="#section-linebox-2"><span>Deals</span></a></li>
																										<li><a href="#section-linebox-3"><span>Drinks</span></a></li>
																										<li><a href="#section-linebox-5"><span>Settings</span></a></li>
																									</ul>
																								</nav>
																								<div class="content-wrap text-center">
																									<section id="section-linebox-1">
																										<h3>Petty Cash Replenishment</h3>
																										<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
																									</section>
																									<section id="section-linebox-2">
																										<h2>Tabbing 2</h2></section>
																										<section id="section-linebox-3">
																											<h2>Tabbing 3</h2></section>
																											<section id="section-linebox-4">
																												<h2>Tabbing 4</h2></section>
																												<section id="section-linebox-5">
																													<h2>Tabbing 5</h2></section>
																												</div>
																												<!-- /content -->
																											</div>
																											<!-- /tabs -->
																										</section>
																										<!-- /Petty Cash Replenishment Tabs-->
																										<!-- Liquidation(With deposit Tabs-->
																										<section class="hiddenTab m-t-40" id="LD">

																											<div class="sttabs tabs-style-linebox">
																												<nav>
																													<ul>
																														<li><a href="#section-linebox-5"><span>Airline</span></a></li>
																														<li><a href="#section-linebox-4"><span>Schedule</span></a></li>
																														<li><a href="#section-linebox-2"><span>Deals</span></a></li>
																														<li><a href="#section-linebox-3"><span>Drinks</span></a></li>
																														<li><a href="#section-linebox-5"><span>Settings</span></a></li>
																													</ul>
																												</nav>
																												<div class="content-wrap text-center">
																													<section id="section-linebox-1">
																														<h3>Liquidation(With deposit</h3>
																														<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
																													</section>
																													<section id="section-linebox-2">
																														<h2>Tabbing 2</h2></section>
																														<section id="section-linebox-3">
																															<h2>Tabbing 3</h2></section>
																															<section id="section-linebox-4">
																																<h2>Tabbing 4</h2></section>
																																<section id="section-linebox-5">
																																	<h2>Tabbing 5</h2></section>
																																</div>
																																<!-- /content -->
																															</div>
																															<!-- /tabs -->
																														</section>
																														<!-- /Liquidation(With deposit) Tabs-->
																														<!-- Liquidation(With reimbursement)-->
																														<section class="hiddenTab m-t-40" id="LR">

																															<div class="sttabs tabs-style-linebox">
																																<nav>
																																	<ul>
																																		<li><a href="#section-linebox-5"><span>Airline</span></a></li>
																																		<li><a href="#section-linebox-4"><span>Schedule</span></a></li>
																																		<li><a href="#section-linebox-2"><span>Deals</span></a></li>
																																		<li><a href="#section-linebox-3"><span>Drinks</span></a></li>
																																		<li><a href="#section-linebox-5"><span>Settings</span></a></li>
																																	</ul>
																																</nav>
																																<div class="content-wrap text-center">
																																	<section id="section-linebox-1">
																																		<h3>Liquidation with reimbursement</h3>
																																		<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
																																	</section>
																																	<section id="section-linebox-2">
																																		<h2>Tabbing 2</h2></section>
																																		<section id="section-linebox-3">
																																			<h2>Tabbing 3</h2></section>
																																			<section id="section-linebox-4">
																																				<h2>Tabbing 4</h2></section>
																																				<section id="section-linebox-5">
																																					<h2>Tabbing 5</h2></section>
																																				</div>
																																				<!-- /content -->
																																			</div>
																																			<!-- /tabs -->
																																		</section>
																																		<!-- /Liquidation(With reimbursement) Tabs-->
																																		<!-- Book Transfer Tabs-->
																																		<section class="hiddenTab m-t-40" id="BT">

																																			<div class="sttabs tabs-style-linebox">
																																				<nav>
																																					<ul>
																																						<li><a href="#section-linebox-5"><span>Airline</span></a></li>
																																						<li><a href="#section-linebox-4"><span>Schedule</span></a></li>
																																						<li><a href="#section-linebox-2"><span>Deals</span></a></li>
																																						<li><a href="#section-linebox-3"><span>Drinks</span></a></li>
																																						<li><a href="#section-linebox-5"><span>Settings</span></a></li>
																																					</ul>
																																				</nav>
																																				<div class="content-wrap text-center">
																																					<section id="section-linebox-1">
																																						<h3>Book Transfer</h3>
																																						<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
																																					</section>
																																					<section id="section-linebox-2">
																																						<h2>Tabbing 2</h2></section>
																																						<section id="section-linebox-3">
																																							<h2>Tabbing 3</h2></section>
																																							<section id="section-linebox-4">
																																								<h2>Tabbing 4</h2></section>
																																								<section id="section-linebox-5">
																																									<h2>Tabbing 5</h2></section>
																																								</div>
																																								<!-- /content -->
																																							</div>
																																							<!-- /tabs -->
																																						</section>
																																						<!-- /Book Transfer Tabs-->


																																					</div>
																																				</div>
																																			</div>

{%endblock%}

{%block scripts%}
	{%include "../section/ajax/ajaxCSRF.html"%}

{%endblock%}