{% extends "../../template/orgTemplate.html" %}

{%block header%}
	{%include "../../section/header.html"%}
{%endblock%}

{%block sidebar%}
	{%include "../../section/sidebar/president.html"%}
{%endblock%}

{%block name%}
	President
{%endblock%}

{%block usertitle%}
	President
{%endblock%}




{%block pagetitle%}
	Pagetitle
{%endblock%}

{%block content%}
<!-- if create gosm -->

<!-- if view gosm -->
     <h1>Hello, President!</h1>
{%endblock%}

{%block scripts%}
	{%include "../../section/scripts.html"%}
{%endblock%}